.sorting-categories {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        list-style: none;
        position: relative;
        padding-#{$start-direction}: 40px;
        margin: 5px;
        border: $border;
        background-color: #efefef;
        &.sortableListsOpen {
            .sorting-bar {
                border-color: darken($border-color, 20);
            }
        }
        div {
            background: #ffffff;
        }
    }
    .sorting-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 1px;
        border: dashed 1px $border-color;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-bottom: 0;
        border: 0;
    }
    .sorting-title {
        font-weight: 500;
        display: flex;
        align-items: center;
        .count {
            margin-#{$start-direction}: 10px;
        }
    }
    .sorting-actions {
        display: flex;
        align-items: center;
        .btn {
            margin-#{$end-direction}: 0px;
            //background: lighten($bg-gray, 0.1);
            color: darken($bg-gray, 50);
            //color: $brand-color-inverse;
            padding: 10px;
            // width: 30px;
            // height: 30px;
            line-height: 1.4;
            text-align: center;
            font-size: 0.8rem;
            //border: solid 1px #dee2e6;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            &:hover {
                background: lighten($bg-gray, 0.2);
            }
            .svg {
                width: 16px;
                height: 16px;
                [fill]:not(.permanent):not(g) {
                    transition: fill 0.3s ease;
                    // fill: $brand-color;
                }
            }
            &.disabled {
                opacity: 0.65;
                pointer-events: none;
            }
            &:last-child {
                margin-#{$end-direction}: 0;
            }
        }
    }
    .sortableListsOpener {
        float: left;
        background-position: center center;
        background-repeat: no-repeat;
        margin-#{$end-direction}: 0px;
        position: absolute;
        #{$start-direction}: 0;
        top: 0;
        font-size: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .sort-icon {
            width: 40px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .switch {
        margin: 0;
        margin-#{$end-direction}: 10px;
    }
    .handle {
        cursor: grab;
    }
    &:hover {
        cursor: pointer;
    }
    a {
        color: $txt-body;
        display: block;
        &[data-option="on"] {
            .fa-angle-right {
                transform: rotate(90deg);
            }
        }
        &:hover {
            text-decoration: none;
        }
    }
    ul.append-ul {
        background: #ffffff;
        padding: 1px;
    }
}
