.login-2 {
    .logo {
        position: absolute;
        left: 15px;
        top: 0;
        max-width: 150px;
        margin: 1.5rem auto;
    }

    h1 {
        color: #fff;
        font-size: 3rem;
    }

    .form-control {
        text-align: center;
        height: calc(2em + 2.3rem + 2px);
    }

    input.btn {
        text-align: center;
        height: calc(2em + 2.3rem + 2px);
    }
}
