
/* Loaders & Preloaders */

.circularLoader {
    margin:auto;
    border-radius: 50%;
    background: #fff;
    // -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    //width: 80px;
    height: 100%;
    min-height: 80px;
    position: relative; 
}

.circular {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}

.loader-positon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #db652d;
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    0% {
        stroke: #db652d;
    }
    20% {
        stroke: #db652d;
    }
    25% {
        stroke: #db652d;
    }
    45% {
        stroke: #db652d;
    }
    50% {
        stroke: #db652d;
    }
    70% {
        stroke: #db652d;
    }
    75% {
        stroke: #db652d;
    }
    95% {
        stroke: #db652d;
    }
}

@keyframes color {
    0% {
        stroke: #3f88f8;
    }
    20% {
        stroke: #3f88f8;
    }
    25% {
        stroke: #dd413b;
    }
    45% {
        stroke: #dd413b;
    }
    50% {
        stroke: #f6ae2e;
    }
    70% {
        stroke: #f6ae2e;
    }
    75% {
        stroke: #259a5d;
    }
    95% {
        stroke: #259a5d;
    }
}
