.ribbon {
    position: relative;
    .ribbon__target {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        font-size: 0.85rem;
        // background-color: $brand-color;
        // color:  lighten($brand-color, 55%); 
        @include bg-brand();
       
        >.ribbon__inner {
            z-index: -1;
            position: absolute;
            padding: 0;
            width: 100%;
            height: 100%;
            top: 0;
            #{$start-direction}: 0;
        }
        &:after {
            border-color: $brand-color;
        }
    }
    &--ver {
        .ribbon__target {
            padding: 5px 10px;
            width: 36px;
            height: 46px;
            text-align: center;
        }
    }
    &--shadow {
        .ribbon__target {
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
        }
    }
    &#{&}--round {
        &.ribbon--top {
            .ribbon__target {
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
            }
        }
        &.ribbon--bottom {
            .ribbon__target {
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        &.ribbon--left {
            .ribbon__target {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        &.ribbon--right {
            .ribbon__target {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
    &--border-ver {
        .ribbon__target {
            &:after {
                border-top: none;
                border-bottom: none;
                border-#{$start-direction}: 1px solid;
                border-#{$end-direction}: 1px solid;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 5px;
                right: 5px;
            }
        }
    }
    &--border-hor {
        .ribbon__target {
            &:after {
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-#{$start-direction}: none;
                border-#{$end-direction}: none;
                content: '';
                position: absolute;
                top: 5px;
                bottom: 5px;
                #{$start-direction}: 0;
                #{$end-direction}: 0;
            }
        }
    }
    &--border-dash-ver {
        .ribbon__target {
            &:after {
                border-top: none;
                border-bottom: none;
                border-#{$start-direction}: 1px solid;
                border-#{$end-direction}: 1px solid;
                border-left-style: dashed;
                border-right-style: dashed;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 5px;
                right: 5px;
            }
        }
    }
    &--border-dash-hor {
        .ribbon__target {
            &:after {
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-#{$start-direction}: none;
                border-#{$end-direction}: none;
                border-top-style: dashed;
                border-bottom-style: dashed;
                content: '';
                position: absolute;
                top: 5px;
                bottom: 5px;
                #{$start-direction}: 0;
                #{$end-direction}: 0;
            }
        }
    }
    &--clip {
        &.ribbon--left {
            .ribbon__target {
                left: -10px;
                .ribbon__inner {
                    &:before {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                        border-width: 0 10px 10px 0;
                        border-right-color: #222 !important;
                        #{$start-direction}: 0;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                    }
                }
            }
        }
        &.ribbon--right {
            .ribbon__target {
                right: -10px;
                .ribbon__inner {
                    &:before {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                        border-width: 0 0 10px 10px;
                        border-left-color: #222 !important;
                        #{$end-direction}: 0;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        border-color: transparent !important;
                        bottom: -10px;
                    }
                }
            }
        }
    }
    &--flag {
        .ribbon__target {
            >.ribbon__inner {
                &:after {
                    border-#{$start-direction}: 18px solid;
                    border-#{$end-direction}: 18px solid;
                    border-bottom: 1em solid transparent !important;
                    bottom: -1em;
                    content: '';
                    height: 0;
                    #{$start-direction}: 0;
                    position: absolute;
                    width: 0;
                }
            }
        }
    }
    &--brand {
        .ribbon__target {
            // background-color: $brand-color;
        // color:  lighten($brand-color, 55%); 
        @include bg-brand();
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                // background-color: $brand-color;
        // color:  lighten($brand-color, 55%); 
        @include bg-brand();
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $brand-color;
                    border-right-color: $brand-color;
                }
            }
        }
    }
    &--light {
        .ribbon__target {
            background-color: $bg-white;
            color: $dark-color;
            &:after {
                border-color: rgba(40, 42, 60, 0.5);
            }
            >.ribbon__inner {
                background-color: $bg-white;
                color: $dark-color;
                &:after {
                    border-color: transparent;
                    border-left-color: #ffffff;
                    border-right-color: #ffffff;
                }
            }
        }
    }
    &--dark {
        .ribbon__target {
            background-color: $dark-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $dark-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $dark-color;
                    border-right-color: $dark-color;
                }
            }
        }
    }
    &--primary {
        .ribbon__target {
            background-color: $primary-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $primary-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $primary-color;
                    border-right-color: $primary-color;
                }
            }
        }
    }
    &--success {
        .ribbon__target {
            background-color: $success-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $success-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $success-color;
                    border-right-color: $success-color;
                }
            }
        }
    }
    &--info {
        .ribbon__target {
            background-color: $info-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $info-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $info-color;
                    border-right-color: $info-color;
                }
            }
        }
    }
    &--warning {
        .ribbon__target {
            background-color: $warning-color;
            color: #111111;
            &:after {
                border-color: rgba(17, 17, 17, 0.5);
            }
            >.ribbon__inner {
                background-color: $warning-color;
                color: #111111;
                &:after {
                    border-color: transparent;
                    border-left-color: $warning-color;
                    border-right-color: $warning-color;
                }
            }
        }
    }
    &--danger {
        .ribbon__target {
            background-color: $danger-color;
            color: #ffffff;
            &:after {
                border-color: rgba(255, 255, 255, 0.5);
            }
            >.ribbon__inner {
                background-color: $danger-color;
                color: #ffffff;
                &:after {
                    border-color: transparent;
                    border-left-color: $danger-color;
                    border-right-color: $danger-color;
                }
            }
        }
    }
}