* {
    scrollbar-color: #ddd transparent;
    scrollbar-width: thin;
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: 0 0;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
        background-clip: padding-box;
        border-radius: 10px;
        //border: 2px solid #eff1f5;
        border: 1.5px solid transparent;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: #61686e;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #798189;
    }
    &-y {
        overflow-y: auto;
    }
    &-x {
        overflow-x: auto;
    }
}

.scroll {
    &-y {
        overflow-y: auto;
    }
    &-x {
        overflow-x: auto;
    }
}