.editor-content,
.cms-container {
  line-height: 2;
  color: theme("color.black");
  word-break: break-word;
  p {
    margin-bottom: theme("margin.10");
    line-height: inherit;
    color: inherit;
  }
}
.cms-container ol,
.editor-content ol,
.cms-container ul,
.editor-content ul {
  margin: 20px 0 40px;
  line-height: inherit;
}
.cms-container ul li,
.editor-content ul li {
  position: relative;
  padding-#{theme('direction.left','value')}: theme("padding.6");
  margin-bottom: theme("margin.2");
  color: inherit;
}
.cms-container ul li:before,
.editor-content ul li:before {
  position: absolute;
  #{theme('direction.left','value')}: 0;
  top: 14px;
  content: "";
  width: 8px;
  height: 2px;
  background: theme("color.primary");
}
.cms-container ol,
.editor-content ol {
  list-style: decimal;
}
.cms-container ol li,
.editor-content ol li {
  position: relative;
  padding: 0;
  margin-#{theme('direction.left','value')}: theme("margin.6");
  margin-bottom: theme("margin.2");
}
.cms-container ol li a,
.editor-content ol li a {
  color: inherit;
}
.container--cms ul,
.container--cms ol {
  margin: 30px 0;
  font-size: 1.1rem;
}
.container--cms ul li {
  position: relative;
  padding: 0 0 10px 30px;
  color: inherit;
}
.container--cms ul li:before {
  position: absolute;
  #{theme('direction.left','value')}: 8px;
  top: 4px;
  content: "";
  width: 3px;
  height: 12px;
  background: #b7b7b7;
  transform: rotate(45deg);
}
.container--cms ul li:after {
  position: absolute;
  #{theme('direction.left','value')}: 2px;
  top: 8px;
  content: "";
  width: 3px;
  height: 6px;
  background: #b7b7b7;
  transform: rotate(-45deg);
}
.container--cms ol {
  list-style: decimal;
}
.container--cms ol li {
  position: relative;
  padding: 0 0 15px 0;
  color: inherit;
  margin: 0 0 0 15px;
}
.container--cms ol li a {
  color: inherit;
}


ul.slick-dots li:before {
  display: none;
}
.editor-content  ul.list-unstyled li:before{
  display: none;
}

.geo-location {
  gap: 2rem;
  input[type="search"],
  input[type="text"] {
    // height: 3.5rem;
    // line-height: 3.5rem;   
    border: none;
    border-radius: 0; 
    background-color: transparent;
    height: 2rem;
    line-height: 1.5;
    padding-#{theme('direction.right','value')}:0;
    &:focus{
      box-shadow: none;
    }
    // padding-#{theme('direction.right','value')}:12rem;
    // @media (max-width: theme("breakpoints.md", "value")) {
    //     padding-#{theme('direction.right','value')}:5rem;
    // }
  }
  &_body{
    @media (max-width:theme('breakpoints.xl','value')){
      order: 1;
    }
    @media (max-width:theme('breakpoints.sm','value')){
      flex: 0 0 100% !important;
    }
  }
  &-wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #fff;
    padding: 0;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 6px; 
    @media (max-width: theme("breakpoints.sm","value")) {
      gap: .5rem;
    }
    &:focus{   
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .08);
    }
  }
  .btn-close{
    background: none;
    padding: 0;
    &::before{line-height: 1;}
  }
  .btn-detect {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: .625rem 1rem;
    min-height: 40px;
    background-color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    background-color: #DDE6FC;
    &-txt {
      @media (max-width: theme("breakpoints.sm","value")) {
        display: none;
      }
    }
    &:hover {
      background-color: #e9e9eb;
    }
  }
}

#facebox iframe {
    @media (min-width:992px){
     min-width:500px;
    }
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    border:2px solid #fff;
    border-radius: 10px;
}
input.btn--block {width: 100%;}
.card-flex-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-height: 30px;
  .card-class__subtitle{
    margin: 0;
  }
}
.icon.icon--status{
  width: 18px;
  height: 18px;
}
.card-badge.badge {
  margin: 0;
  padding: 2px 8px;
}
.calendar-wrapper{
  .modal-header{
      .btn-close{
          display: none; 
      }
  }
}
.form-popup-header{
  h3{
    font-size: 1.5rem;
  }  
}