
.list-inline li {
    display: inline-block;
    padding: 0 10px 10px 0
}

.list-inline label {
    background: #fff;
    height: 2.8rem;
    display: inline-block;
    margin: 0 2px 0 0;
    padding: var(--padding-2) var(--padding-4);
    line-height: 1.4;
    border: 1px solid var(--color-gray-300); border-radius: theme('radius.1');
    cursor: pointer
}

.list-inline label .checkbox,
.list-inline label .radio {
    vertical-align: top;
    position: relative;
    top: 1px
}

.list-inline label:active,
.list-inline label:focus {
    background: rgba(0, 0, 0, .02)
}

// .list-inline label .radio .input-helper:before {
//     top: -1px
// }

// .list-inline label .checkbox .input-helper:after,
// .list-inline label .radio .input-helper:after {
//     top: 6px
// }

.list-inline .is-active label{
    color: var(--color-secondary);
    font-weight: 600;
}

.list-inline label .checkbox .input-helper:before {
    top: -2px
}

.list-inline.list-inline--onehalf {
    margin: 0 0 0 -20px
}

@media(min-width:theme('breakpoints.sm','value')){
    .list-inline.list-inline--onehalf,  .list-inline.list-inline--onethird ul{display: flex;align-items: center;}
}

.list-inline.list-inline--onethird li:first-child {
     width: 20%;
    }
    .list-inline.list-inline--onethird li{
        width: 80%;padding: 0 0 10px 20px;
       }

.list-inline.list-inline--onehalf li {
    padding: 0 0 10px 20px;
    width: 50%; margin-#{theme('direction.right','value')}: -4px;

}

.list-inline.list-inline--onehalf li label {
    display: block
}

.list-onethird li {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 10px 0;
    margin: 0 -4px 0 0;
    width: 33.3%
}

.field_cover label,
.list-onethird li label {
    margin: 0;
    line-height: 1.6
}

.list-onethird.list-onethird--bg {
    background: rgba(0, 0, 0, .02);
    padding: 20px;
    border-radius: 2px
}



.listing--vertical li {
    font-size: 0.9rem;
    margin: 15px 0 0;
}

.listing--vertical li:first-child {
    margin: 0;
}



.floated-list {
    text-align: center;
}

.floated-list li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.floated-list li a:hover {
    text-decoration: underline;
}



.selection-list {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px;
}

.selection-list ul {
    margin: 0 -5px;
}

.selection-list ul li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    padding: 5px;
}

.selection-list ul li .selection {
    display: inline-block;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 15px 15px 15px 40px;
    font-weight: 700;
    position: relative;
}

.selection-list ul li .selection small {
    line-height: 1.4;
    float: none !important;
    display: block;
    margin: 5px 0 0;
    text-transform: uppercase;
}

.selection-list ul li .selection .radio {
    vertical-align: top;
    position: absolute;
    #{theme('direction.left','value')}: 10px;
    top: 12px;
}

.selection-list ul li.is-active .selection {
    background: #f3f2f5;
    border-color: #f3f2f5;
}



.list-repeated {
    width: 100%;
    margin: 20px 0 0;
    display: inline-block;
}

.list-repeated .avtar {
    float: #{theme('direction.left','value')};
    margin: 0 0 0;
    width: 40px;
    height: 40px;
}

.list-repeated .list-repeated__content {
    width: calc(100% - 40px);
    padding-#{theme('direction.left','value')}: 20px;
    float: #{theme('direction.left','value')};
}

.list-repeated p {
    line-height: 1.2;
    margin: 0 0 5px;
    font-size: 1rem;
}

@media(max-width:theme('breakpoints.lg','value')){
    .list-onethird li{width: 50%;}
}
@media(max-width:theme('breakpoints.sm','value')){
    .list-onethird li{width: 100%;}
    .list-onethird.list-onethird--bg{max-height: 350px; overflow:auto;}
}


@media (max-width:1199px){
    .vertical-links li a {
        padding: 15px 20px;
    }
}



.bullet-list {
    margin: 1.2rem 0 1.4rem;
    li{
        margin: 0.8rem 0;
        font-weight: 300;
        display: flex;
        align-items: flex-start;
        line-height: 1.6;
        font-size: 15px;
        @media(min-width: theme('breakpoints.xl','value')) {
            font-size: 14px;
        }
    }
}


.bullet-list{
            
    li{
        display: flex;
        align-items: flex-start;
        opacity: 0.7;
        position: relative;
        &:hover{
            opacity: 1;
        }
        .icon{
            min-width: 17px;
            max-width: 17px;
            height: 16px;
            margin-#{theme('direction.right','value')}: theme('margin.3');
            opacity: 0.7;
            vertical-align: sub;
        }
        span{
            line-height: 24px;
        }
        
    }

    
}
