$timer: "timer";

.#{$timer}{ position: relative; display: flex; align-items: center; color: theme('color.third'); min-height: 32px;

    &__media{ margin-#{theme('direction.right','value')}: theme('margin-1');}
    &__controls{display: flex; align-items: center;}
    &__digit{position: relative; font-weight: 600;
        
        &:not(:last-child):after{content: ":"; margin: 0 0.1rem;}
    }
    

}