$reviews-section: 'reviews-section';

.#{$reviews-section} {
    &{width: 100%; position: relative;}
}


$reviews-stats: 'reviews-stats';

.#{$reviews-stats} {
    &{width: 100%; position: relative;}
}

$reviews-total: 'reviews-total';

.#{$reviews-total} {max-width: 110px; text-align: center;}



$reviews-media: 'reviews-media';

.#{$reviews-media} {
    &{position: relative;width: 100%; height: 100%;
        & svg{width: 100%; height:  100%; fill: #FFAB22;}
        .reviews-count{position: absolute; left: 50%;top: 50%; transform: translate(-50%,-50%); text-align: center; width: 100%; font-size: theme('font.size.h4'); color: theme('color.white'); font-weight: theme('font.weight.bold'); line-height: 1;}
    }
}


$reviews-progress: 'reviews-progress';

.#{$reviews-progress} {
    &{display: flex; align-items: center;
        &__value{min-width: 60px; text-align: center; padding:0 theme('padding.2');
            &:first-child{text-align: #{theme('direction.right','value')};}
            &:last-child{text-align: #{theme('direction.left','value')};}
        }
        &__content{width: calc(100% - 120px);}
    }
}

$reviews-counter: 'reviews-counter';

.#{$reviews-counter} {
    &__item{margin-top: theme('margin.2');}
}



$reviews-sorting: 'reviews-sorting';

.#{$reviews-sorting} {
    &{margin: theme('margin.10') 0; text-align: center;
        @media(min-width: theme('breakpoints.sm','value')){
            &{background-color: theme('color.gray.100'); padding: theme('padding.2') theme('padding.6'); }
        }
        @media(max-width: theme('breakpoints.sm','value')){
            &{
                p{margin-bottom: theme('margin.2')!important;}
            }
        }
    }
}


$reviews-sort: 'reviews-sort';

.#{$reviews-sort} {
    @media(min-width: theme('breakpoints.sm','value')){
        & select{background-color: transparent; border: none; font-weight: theme('font.weight.medium');
            &:focus{box-shadow: none;}
        }
    }
}



$review: 'review';

.#{$review} {
    &{display: flex; justify-content: space-between; margin-top: theme('margin.10'); border-bottom: 1px solid theme('color.gray.200');}
        &__media{width: 80px;
            @media(max-width: theme('breakpoints.sm','value')){
                &{width: 70px;}
            }
    
    }
  &__content{width:calc(100% - 80px);
    @media(max-width: theme('breakpoints.sm','value')){
        &{width:calc(100% - 70px);}
    }
    }
  &__author{font-size: theme('font.size.h6'); font-weight: theme('font.weight.bold'); margin-bottom: theme('margin.2'); display: block;}
  &__date{color: theme('color.black');font-size: theme('font.size.small'); line-height: 1; padding-#{theme('direction.left','value')}: theme('margin.3'); margin-#{theme('direction.left','value')}: theme('margin.3'); position: relative; top: 1px;
    &:before{position: absolute; #{theme('direction.left','value')}: 0;top: 0; bottom: 0; content: ""; width: 1px;background-color: currentColor;}
}
  &__meta{display: flex; align-items: center;}
  &__message{margin-top: theme('margin.4');}
}




$rating: 'rating';

.#{$rating} {
    display: flex;
    align-items: center;

    &__media{
        width: 15px;
        height: 19px;
        fill: theme('color.yellow'); margin-#{theme('direction.right','value')}: theme('margin.2');
    }
    &__value{
        margin-#{theme('direction.right','value')}: 6px;
        font-weight: bold;
    }


}



$reviews-submission: 'reviews-submission';

.#{$reviews-submission} {
    @media(max-width: theme('breakpoints.sm','value')){
        &{border-top: 1px solid theme('color.gray.200'); margin-top:theme('margin.6');}
    }
}


.review__title{margin-bottom: 0;}

