.msg-list .user-info{
    margin-bottom: 0;
    line-height: 1.4;
    font-size: var(--font-size-sm);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis ;
    white-space: nowrap; }