

$sidebar: "sidebar";

.#{$sidebar}{
    
    @media(min-width:theme('breakpoints.xl','value')){
        display: flex;height: 100%; position: fixed; top: 0; bottom: 0; #{theme('direction.left','value')}:0; z-index: 3; height: 100vh;
    }

    &__secondary{background-color:theme('color.primary'); color: theme('color.primary-inverse');
        
        @media(min-width:theme('breakpoints.md','value')){
            &{
                // width: 4.2855rem;
                position: relative;
                display: flex;
                flex-direction: column;
               
                
                height: 100%;
                z-index: 1;
            }
        }

        @media(max-width:theme('breakpoints.xl','value')){
            &{
                position: fixed;top:0; bottom: 0;#{theme('direction.left','value')}:0;z-index: 13;
            }
        }
        @media(max-width:theme('breakpoints.md','value')){
            &{
               top:auto; #{theme('direction.left','value')}:0;#{theme('direction.right','value')}:0;
            }
        }

    }

    &__primary{  position: relative;transition: all 0.2s;
        @media(min-width:theme('breakpoints.xl','value')){
            display: flex;
            flex-direction: column;
            width: 17rem;
            height: 100%;
            transform: translate(0);

            &.is-visible{
                width: 0; opacity: 0;visibility: hidden; white-space: nowrap; transform: translateX(-100%);overflow: hidden;
            }

        }

        position: relative;
        
        background-color:theme('color.white');
        box-shadow: theme('boxShadow.l-r');

        // @media(max-width:theme('breakpoints.md','value')){
        //     &{padding: 0 theme('padding.2');}
        // }

    }

/*    &__scroll{
        overflow-y: auto;
        overflow-x: hidden; height: 100%;
    }*/

    &__head{
       
        @media(min-width:theme('breakpoints.xl','value')){
            &{position: sticky; top:0;z-index: 1;}
        }
        
        @media(max-width:theme('breakpoints.xl','value')){
            display: flex;align-items: center; justify-content: space-between; position: relative; padding: theme('padding.3') theme('padding.4');
        }
    }
    
    &__body{
        @media(min-width:theme('breakpoints.xl','value')){
            &{flex: 1; overflow: auto;}
        }
    }

    .profile{
        .profile__details small{margin-top: 0;}
    }

}


$toggle: "toggle";

.#{$toggle}{position: relative; width:100%; display: flex; align-items: center; justify-content: center; padding: theme('padding-1');
    span{width:100%; height:2px; background-color:currentColor;display: block;position: relative;
    &:before{width: 100%; height: 2px; background-color:inherit;position: absolute;#{theme('direction.left','value')}: 0; #{theme('direction.right','value')}: 0;top: -5px;content: "";}
    &:after{width: 100%; height: 2px; background-color:inherit;position: absolute;#{theme('direction.left','value')}: 0; #{theme('direction.right','value')}: 0;bottom: -5px;content: "";}
    }
    &.is-active{
      span{background-color: transparent;
      &:before{transform: rotate(45deg);top: 50%; background-color:currentColor;}
      &:after{transform: rotate(-45deg);top: 50%; background-color:currentColor;}
      }
    }
  }


  
$logo: "logo";

.#{$logo}{padding:theme('padding.4'); margin: 0; 
        & img { max-width: 180px; }
    @media(min-width:theme('breakpoints.xl','value')){
        &{min-height: 80px;}
    }


    @media(max-width:theme('breakpoints.xl','value')){
        & {padding:0 theme('padding.6'); }
    }
    @media(max-width:theme('breakpoints.sm','value')){
        &{padding: 0;}
    }
    @media(max-width:theme('breakpoints.xl','value')){
        & {
            & img{width: 100%;}
        }
    }
}

$profile: "profile";

.#{$profile}{

    @media(max-width:theme('breakpoints.xl','value')){
        &{ padding: 0;}
    }
    @media(max-width:theme('breakpoints.md','value')){
        &{position: static;}
    }
    @media(min-width:theme('breakpoints.xl','value')){
        & {
            &:before{position: absolute; #{theme('direction.left','value')}: 0; #{theme('direction.right','value')}: 0; bottom: 0; top: 0; content: ""; pointer-events: none; background-color: currentColor;opacity: 0.06;}
        }
       
    }

    padding:theme('padding.4'); position: relative; color:theme('color.primary');
    
    &__title{position: relative; font-size: 1rem;max-width: 135px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; padding-#{theme('direction.right','value')}:theme('padding.8') ;
        &:after{position: absolute;#{theme('direction.right','value')}:7px; top: 50%;content: ""; width:7px; height:7px;border-right: 1px solid currentColor;border-bottom: 1px solid currentColor;transform: rotate(45deg) translateY(-90%); pointer-events: none;}
    }
    &__meta{position: relative;z-index: 2;
        @media(max-width:theme('breakpoints.md','value')){
            & {
                .#{$profile}{ 
                    &__media{margin: 0!important;}
                }
            }
        }
    
    }

    &__target{background-color: theme('color.white');padding:theme('padding.4'); position: absolute; top:0; #{theme('direction.left','value')}:0;min-width:20rem;box-shadow: theme('boxShadow.vertical');z-index:1;opacity: 0;visibility: hidden; border-radius: theme('radius.1');
    @media(max-width:theme('breakpoints.xl','value')){
        &{#{theme('direction.left','value')}:auto; #{theme('direction.right','value')}:0;}
        &.is-visible{opacity: 1;visibility: visible;
            
        }
    }
    @media(max-width:theme('breakpoints.xl','value')){
        &{top: 100%; border-radius: 0 0 theme('radius.1') theme('radius.1');z-index: 2; }
       
    }
   


       
    }
    &__target-details{position: relative; border-top: 1px solid #ddd; margin-top: theme('margin.18'); color: theme('color.gray.1000');
        table{font-size: 13px; margin:theme('margin.4') 0;
            td{padding:4px 0;}
        }
        @media(max-width:theme('breakpoints.xl','value')){
            &{margin-top: 0; border-top: none;}
        }

        @media(max-width:theme('breakpoints.md','value')){
            // &{margin-top: 0; }
            &{
                .btns-group{display: flex;
                   .btn{margin: 5px!important;}
               }
            }
           
        }
        @media(max-width:theme('breakpoints.sm','value')){
            // &{margin-top: 5rem; }
            &{
                .btns-group{display: block;
                   .btn{margin: 5px 0!important;}
               }
            }
           
        }

    }

    

    @media(max-width:theme('breakpoints.md','value')){
       &__details{display: none;}
      
    }

    @media(max-width:theme('breakpoints.md','value')){
       &__trigger{
           &.is-active{
            .#{$profile}{
                &__details{display: block;}
                &__target{min-width: 1%;width: 100%;}
            }
           }
       }

       .#{$profile}{
            &__meta{position: static;}
            &__details{position: absolute;top: 90px;z-index: 12; #{theme('direction.left','value')}: 15px; pointer-events: none;
              
            }
            &__target{min-width: 1%;width: 100%;#{theme('direction.left','value')}: 0;}
            &__title{font-size: 1.2rem;max-width:100%;
                &:after{display: none;}
            }
        }

     }

    @media(min-width:theme('breakpoints.xl','value')){
        &:hover &__target{opacity: 1;visibility: visible;}
    }




    

}

$menu-group: "menu-group";
.#{$menu-group}{padding: theme('padding.4') theme('padding.4') 0; padding-#{theme('direction.left','value')}:0 ;
    &:last-child{padding-bottom: theme('padding.4');}
    & h6{padding-#{theme('direction.left','value')}: 0.9rem;}
}

.menu__item-languages{

    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}


.lessons.view,.classes.view{
    & .page__footer{display: none;}
    @media(max-width:theme('breakpoints.sm','value')){
        & .sidebar__head{display: none;}
        & .logo{margin: 0 auto;}

        
        & .profile-meta{
            h4{font-size: 14px;}
        }

    }
}