body{direction: rtl;text-align: right;}
.iconmenus{float: left;}
.leftside{left: auto;right:0;}
body.toggled-left .leftside {
    transform: translate3d(0px, 0px, 0px);

    -ms-transform: translate3d(0px, 0px, 0px);
    /* IE 9 */
    -webkit-transform: translate3d(0px, 0px, 0px);
    /* Chrome, Safari, Opera */
}
.-float-right {
    float: left !important;
  }

  .-float-left {
    float: right !important;
  }


  .field_cover--user::before,  .field_cover--lock::before{left: auto; right: 16px;}
  .box__centered--form .field_cover input[type="text"], .box__centered--form .field_cover input[type="password"]{padding-left: 10px; padding-right: 45px;}


.profilecover .profilepic{left: auto;right: 15px;}
.leftmenu > li ul li a{padding: 4px 20px 4px 4px;}
.leftmenu > li ul li a:before{left: auto;right: 0;}
.leftmenu > li ul:before{left: auto;right: 10px;}

.page__icon{left: auto;right: 0;}
.page__title .col--first{float: right;}
.breadcrumb{width: auto;}
.section.searchform_filter .sectionhead h4:before{left: 0;right: auto;  transform: rotate(90deg);  -webkit-transform: rotate(90deg);  -ms-transform: rotate(90deg);}
.field--calender{background-position:10px center;}
select{background-position:10px center; padding-right:10px; padding-left: 30px;}
.leftmenu > li.haschild > a:before{left: 16px; right: auto;}
.profilecover .profileinfo:before{left: 10px; right: auto;}
.profilecover .profileinfo{padding: 8px 15px 8px 34px;}
.dropwrap{left: 0;right: auto;transform-origin:left top;-webkit-transform-origin:left top;-ms-transform-origin:left top;}
.linksvertical li a,.dropwrap .head{text-align: right;}
.iconmenus > li{float: right;}

/* .div_error{text-align:right;padding:20px 60px 20px 40px!important; 
           background: url(../images/icon--attention.svg) no-repeat calc(100% - 15px) 15px #f35f5f; background-size:30px; }

.div_info{padding:20px 60px 20px 40px!important;text-align: right; 
          background: url(../images/icon--info.svg) no-repeat calc(100% - 15px) 15px #02b4d1; background-size:30px;}

.div_msg,.alert--success, .alert_success{text-align: right;  padding:20px 60px 20px 40px!important;
                                         background: url(../images/icon--success.svg) no-repeat calc(100% - 15px) 15px #00b6ad; background-size:30px; }

.alert--process, .alert_process{padding:20px 60px 20px 40px!important;}

.alert .close, .system_message .close{right: auto;left: 10px;} */

.section .sectionhead:before{right: 15px;left: auto;}
.section .sectionhead{padding: 30px 40px 30px 20px;text-align: right;}

.ui-datepicker .ui-datepicker-buttonpane button{float: left;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float: right;}

/* .alert--process:before{right: 15px;left:auto;}
.alert{padding: 20px 60px 20px 40px;} */
#facebox .close{left: 0;right: auto;}
.field-set{text-align: right;}
.form_horizontal .field-set .caption-wraper{text-align: left;padding-right: 0;padding-left: 25px;}
.shop-template.is--active::before{left: 10px; right: auto;}
.tabs_nav > li{float: right;}
/*.layout--rtl{direction: ltr;}
.layout--rtl .field-set{text-align: left;direction: ltr;}
.layout--rtl.form_horizontal .field-set .caption-wraper{padding-left: 0;padding-right: 25px;text-align: left;}*/

.layout--ltr{direction: ltr;}
.layout--ltr .field-set{text-align: left;direction: ltr;}
.layout--ltr.form_horizontal .field-set .caption-wraper{padding-left:25px;padding-right: 0;text-align: left;}

.grid__left{padding-right: 30px;}
.box__head::before{left: auto;right: 0;}
.box__head{padding-left: 0;padding-right: 0;}
.nav--floated li{float: right;margin: 0 0 0 20px;}
.list--graphinfo li .count{float: left;}
.label:before{left: auto;right: 0;}
.label{padding: 0 20px 0 0;}
.box--white .box__head{padding: 20px;}
.box--white .box__head:before{right: 15px;left: auto;}
.section .sectionhead .themebtn{left: 20px; right: auto;margin-left: 0;}
.table th{text-align: right;}
.grid__right{border-left: none;border-right: 1px solid #e3e7ed;}
.grid__right .box__head .actions.right{right: auto;left: -10px;}
.stats__icon {right: auto; left: 20px;}
.box--stats .box__body {padding: 15px;}
.section .sectionhead .actions {right:auto; left:20px;}
.section .sectionhead .actions.actions--centered .dropwrap{left:0px; right: auto;}
.schedule-list li .span-left {
    float: right;
}

.grid__right .box__head{padding-right: 0;}


.page {

    padding-left: 20px; padding-right: 250px; 
   
 }
 .tabs_nav_container.vertical > .tabs_nav li a{text-align: right;}
 .tabs_nav > li:first-child{margin-right: 0;margin-left: 1rem;}
 .tabs_nav > li:last-child{margin-left: 0;margin-right: 1rem;}
 .web_form .list-inline label > .radio, .web_form .list-inline label > .checkbox{margin-right: 0; margin-left: 8px;}
 .web_form .list-inline label{padding-right: 10px; padding-left: 20px;}
 .checkbox .input-helper::before, .radio .input-helper::before{left: auto; right: 0;}
 .checkbox .input-helper::after{left: auto; right: -1px;}
 .radio .input-helper::after{left: auto; right: 4px;}
 .leftmenu > li > a{border-left: none; border-right: 2px solid transparent;}
 .sectionhead h4{margin-right: 0;}

 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: right;}
 .user-account .user-account__media{margin-left: auto; margin-right: 1.6rem;}
 .actions.actions--centered .dropwrap{left: calc(100% - 48px); right: auto;}

 .fld-date{background-position: 10px 10px ;}


 .ion-ios-arrow-left:before {content: "\f3d3"; }

.ion-ios-arrow-right:before { content: "\f3d2";  }

.switch-labels + .switch-handles{margin-right: 0; margin-left: 20px;}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .footinfo .grid_1 .pagination,.breadcrumb li, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{float: right;}
.footinfo .grid_2{text-align: left;}
.breadcrumb li a:after{right: auto;left: -15px;}
.breadcrumb li{padding-left: 0; padding-right: 15px;margin-left: 0; margin-right: 15px;}
#facebox{text-align: right;}
.web_form input[type="submit"], .btn-primary, .repeatedrow h3 .icon{margin-right: 0; margin-left: 10px;}
.listview .list dt{text-align: right;clear: right;float: right;}
.listview .list dd{margin-left: auto; margin-right: 180px;}
.web_form input[type="button"]{margin-right: auto; margin-left: 1rem;}
.ui-datepicker-header .ui-datepicker-next .ui-icon::before{left:auto; right: 5px; border-left:7px solid transparent; border-right:7px solid #999;}
.ui-datepicker-header .ui-datepicker-prev .ui-icon::before{left:auto; right: 5px; border-right:4px solid transparent; border-left:7px solid #999;}