.video {
    position: relative;
    width: 100%;
    background: #eee;
    min-height: 200px;
}

.video:before {
    display: block;
    padding-bottom: 60%;
    content: "";
    position: relative;
}

.video iframe,
.video .video__enlarge .svg-icon svg {
    position: absolute;
    #{theme('direction.left','value')}: 0;
    #{theme('direction.right','value')}: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.video .video__enlarge {
    position: absolute;
    #{theme('direction.right','value')}: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 3px;
}

.video .video__enlarge .svg-icon {
    width: 26px;
    height: 26px;
    position: absolute;
    #{theme('direction.left','value')}: 0;
    #{theme('direction.right','value')}: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}


.box__slip .video:before {
    padding-bottom: 45%;
}



.btn--fav.is-active {
    color: #fff;
    background: theme('color.secondary');
}

.btn--fav.is-active svg {
    fill: #fff;
}


.section--details {
    padding: 30px 0 60px;
}

.box__profile-head h3 {
    margin: 0;
}

.box__profile-head .location {
    position: relative;
    padding-#{theme('direction.left','value')}: 20px;
    color: #888;
    margin: 5px 0 0;
}

.box__profile-head .location .svg-icon {
    position: absolute;
    #{theme('direction.left','value')}: 0;
    top: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    opacity: 0.5;
}

.box-highlighted {
    padding: 10px 20px;
    background: #f3f2f5;
    margin: 10px 0;
    text-align: #{theme('direction.left','value')};
}



.tags-inline ul {
    margin: 0 -5px;
}

.tags-inline li {
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

.tags-inline li a {
    padding: 4px 6px;
    border: 1px solid #ddd;
    border-radius: 2px;
    display: block;
    font-size: 0.9rem;
    color: #777;
}

.box.box--toggle {
    margin: 30px 0 0;
}

.tick-listing li {
    position: relative;
    padding-#{theme('direction.left','value')}: 20px;
    margin: 5px 0 15px 0;
}

.tick-listing.tick-listing--onehalf li {
    width: 50%;
    margin-#{theme('direction.right','value')}: -4px;
    display: inline-block;
    vertical-align: top;
}

.tick-listing li:before {
    width: 10px;
    height: 6px;
    border-#{theme('direction.left','value')}: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    content: "";
    transform: rotate(-45deg);
    position: absolute;
    #{theme('direction.left','value')}: 0;
    top: 4px;
}



.content-repeated [class*="col-"]:last-child {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
    padding-#{theme('direction.left','value')}: 0;
    margin-bottom: 20px;
}

.content-repeated [class*="col-"]:last-child p {
    margin: 0;
}

.-small-title {
    font-size: 1.08rem;
}

.content-repeated--action.content-repeated [class*="col-"]:last-child {
    margin-bottom: 0;
}

.content-repeated:last-child [class*="col-"]:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.content-repeated .avtar {
    float: #{theme('direction.left','value')};
    margin-#{theme('direction.right','value')}: 15px;
}

.content-repeated .avtar+h6 {
    margin: 0;
}

.content-repeated .avtar+h6+p {
    line-height: 1;
    font-size: 0.9rem;
}

.select-box {
    position: relative;
}

.select-box .select-box__value {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-#{theme('direction.right','value')}: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 1.15rem;
    color: #999;
    line-height: 1;
    min-height: 40px;
}

.select-box .select-box__value:after {
    position: absolute;
    #{theme('direction.right','value')}: 15px;
    top: 50%;
    content: "";
    border-#{theme('direction.left','value')}: 5px solid transparent;
    border-#{theme('direction.right','value')}: 5px solid transparent;
    border-top: 5px solid #999;
    margin: -2px 0 0;
}

.select-box .select-box__value small,
.select-box .select-box__target .listing li a small {
    display: block;
    font-size: 0.8rem;
    margin: 5px 0 0;
}

.select-box .select-box__target {
    border: 1px solid #dddddd;
    background: #fff;
    max-height: 350px;
    overflow: auto;
    position: absolute;
    #{theme('direction.right','value')}: 0;
    z-index: 2;
    min-width: 200px;
    width: 100%;
}

.select-box .select-box__target .listing li {
    text-align: #{theme('direction.left','value')};
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.select-box .select-box__target .listing li a {
    font-size: 1.05rem;
    font-weight: 500;
    display: block;
    padding: 10px 20px;
    color: #999;
}

.select-box .select-box__target .listing li a:hover {
    background: rgba(0, 0, 0, 0.03);
}

.select-box.select-box--small {
    display: inline-block;
    vertical-align: middle;
    margin-#{theme('direction.left','value')}: 20px;
}

.select-box.select-box--small .select-box__value {
    padding-#{theme('direction.right','value')}: 40px;
    border-color: transparent;
    height: 30px;
    line-height: 28px;
    font-weight: 500;
    min-height: 1%;
}

.select-box.select-box--small .select-box__value:after {
    top: 13px;
}

.select-box.select-box--small .select-box__target {
    min-width: 200px;
}

.select-box.select-box--small .select-box__target .listing li a {
    font-weight: 400;
    font-size: 1rem;
}

.select-box--up.select-box .select-box__target {
    bottom: 100%;
    #{theme('direction.right','value')}: auto;
    width: auto;
    #{theme('direction.left','value')}: 0;
    min-width: 250px;
}



@media (max-width:568px) {
    .timer-block .select-box .buttons-toggle {
        display: flex;
    }

    .timer-block .select-box .buttons-toggle .btn:first-child {
        width: 100%;
    }

    .timer-block .timer.timer--small {
        display: block;
        text-align: center;
    }

    .timer-block .btn.end_lesson_now {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}


.form .select-box .select-box__value {
    min-height: 50px;
    padding: 16px 20px 12px 20px;
    padding-#{theme('direction.right','value')}: 40px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07);
}

.form .select-box .select-box__target .listing li {
    padding: 10px;
}

.form .select-box .select-box__target .listing li label {
    display: block;
}

.box-btn-group .btn {
    margin: 10px 0 0;
}

.box--medium {
    padding: 40px;
    min-width: 800px;
}

.direction {
    margin-#{theme('direction.left','value')}: 30px;
}

.direction .direction__action {
    width: 30px;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
    position: relative;
}

.direction .direction__action:hover {
    background: rgba(0, 0, 0, 0.1);
}

.direction .direction__action.direction__action-prev:before {
    width: 8px;
    height: 8px;
    content: "";
    border-#{theme('direction.left','value')}: 1px solid #333;
    border-bottom: 1px solid #333;
    position: absolute;
    #{theme('direction.left','value')}: 50%;
    top: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin: -4px 0 0 0;
    margin-#{theme('direction.left','value')}: -3px;
}

.direction .direction__action.direction__action-next:before {
    width: 8px;
    height: 8px;
    content: "";
    border-#{theme('direction.right','value')}: 1px solid #333;
    border-top: 1px solid #333;
    position: absolute;
    #{theme('direction.left','value')}: 50%;
    top: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin: -4px 0 0 0;
    margin-#{theme('direction.left','value')}: -5px;
}



.table-total th {
    font-size: 0.9rem;
    font-weight: normal;
    color: #000;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: #{theme('direction.left','value')};
}

.table-total th:last-child,
.table-total td:last-child {
    text-align: #{theme('direction.right','value')};
}

.table-total td {
    color: #666;
    padding: 10px 20px 6px 20px;
    vertical-align: top;
}

.table-total td h6 {
    font-size: 1.1rem;
}

.table-total tr.last td {
    border-top: 1px solid #ddd;
}

.table-total tr.last td h6 {
    font-size: 1.4rem;
}

.apply-coupon .btn.btn--gray.is-active {
    border-radius: 3px 3px 0 0;
}

.apply-coupon .btn.btn--gray.is-active:after {
    content: "+";
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    font-size: 1.8rem;
    margin: -2px 0 0 0;
    margin-#{theme('direction.right','value')}: 10px;
}

.apply-coupon__target {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
}

.apply-coupon__target [class*="col-"] {
    padding: 0;
}

.apply-coupon__target input[type="submit"] {
    padding: 0 20px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    border-top-#{theme('direction.right','value')}-radius: 3px;
    border-bottom-#{theme('direction.right','value')}-radius: 3px;
}

.apply-coupon__target input[type="text"] {
    border-top-#{theme('direction.left','value')}-radius: 3px;
    border-bottom-#{theme('direction.left','value')}-radius: 3px;
}

.applied-coupon {
    background: #ecfff4;
    border: dashed 1px theme('color.primary');
    padding: 15px;
    margin: 0 0 0;
    text-align: center;
    position: relative;
}


@media (max-width:1199px) {

    .box__slip {
        padding: 10px;
    }

    .video {
        height: 200px;
    }

    .video:before,
    .box__slip .video:before {
        padding-bottom: 0;
    }

    .video iframe {
        position: relative;
        #{theme('direction.left','value')}: auto;
        top: auto;
        bottom: auto;
        #{theme('direction.right','value')}: auto;
    }
}


@media (max-width:theme('breakpoints.md', 'value')) {

    .content-repeated [class*="col-"]:last-child {
        padding-#{theme('direction.left','value')}: 15px;
    }

    .content-repeated .avtar+h6+p {
        margin-bottom: 25px;
    }

    .-small-title {
        font-size: 1.15rem;
    }

    .box__body-target {
        display: none;
    }

    .box.box--toggle {
        margin: 10px 0 0;
    }

    .box .box__head {
        padding: 15px;
    }

    .box__head-trigger {
        padding-#{theme('direction.right','value')}: 40px;
        cursor: pointer;
        position: relative;
    }

    .box__head-trigger:after {
        position: absolute;
        #{theme('direction.right','value')}: 20px;
        top: 15px;
        content: "+";
        font-size: 1.6rem;
        line-height: 1;
    }

    .box__head-trigger.is-active:after {
        content: "-";
    }

    .offset-min-12 {
        width: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .box--medium {
        padding: 20px;
        min-width: 1%;
    }

}

@media (min-width:theme('breakpoints.xl', 'value')) {
    .teachers.teachers-view {
        overflow-x: hidden;
    }
}

.card-class-cover {
    .card-class {
        border: 1px solid theme('color.gray.200');
    }
}


.author-slider {
    .slick-arrow {
        top: calc(50% - 160px);

        &.slick-next {
            #{theme('direction.right','value')}: 1.2rem;

            &:before {
                border-color: #000;
            }

            &:after {
                width: 24px;
                height: 24px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -7px 0 0 0;
                content: "";
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                margin-left: -15px;
                transform: rotate(-45deg);
            }

        }

        &.slick-prev {
            #{theme('direction.left','value')}: 1.2rem;

            &:before {
                border-color: #000;
            }

            &:after {
                width: 24px;
                height: 24px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -7px 0 0 0;
                content: "";
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                margin-left: -3px;
                transform: rotate(135deg);
            }
        }
    }

}


body[dir="rtl"] {
    .author-slider {
        .slick-arrow {
            &.slick-next {
                &:after {
                    transform: rotate(135deg);
                    margin-left: -3px;
                }
            }

            &.slick-prev {
                &:after {
                    transform: rotate(-45deg);
                    margin-left: -15px;
                }
            }
        }

    }

}

.author-slider {
    @media (max-width:theme('breakpoints.sm', 'value')) {
        .btn-group {
            margin-top: 1rem;
        }
    }
}


.section.section--profile {
    padding-top: 3rem;
}

.section--profile {
    @media(max-width: theme('breakpoints.md', 'value')) {
        .container {
            padding: 0;
        }

        & {
            padding: theme('padding.6') 0;
        }
    }

    @media(min-width: theme('breakpoints.md', 'value')) and (max-width: theme('breakpoints.xl', 'value')) {
        padding: 2rem 0;
    }
}

.detail-wrapper {
    color: theme('color.gray-dark');

    @media(max-width: theme('breakpoints.md', 'value')) {
        margin-bottom: theme('margin.8');
        padding: 0 theme('padding.5');
    }

    .profile__media {
        float: #{theme('direction.left','value')};
        clear: #{theme('direction.left','value')};
        position: relative;

        @media(max-width: theme('breakpoints.md', 'value')) {
            margin-#{theme('direction.right','value')}: theme('margin.6');
            margin-bottom: theme('margin.4');

            .avtar {
                width: 80px;
                height: 80px;
            }
        }

        @media(min-width: theme('breakpoints.xl', 'value')) {
            margin-#{theme('direction.right','value')}: theme('margin.16');
        }

        @media(min-width: theme('breakpoints.md', 'value')) and (max-width: theme('breakpoints.xl', 'value')) {
            margin-#{theme('direction.right','value')}: theme('margin.8');
        }
    }

    .profile-detail {

        .profile-detail__head {

            @media(min-width: theme('breakpoints.sm', 'value')) and (max-width: theme('breakpoints.md', 'value')) {
                justify-content: flex-start;
            }

        }

        .info-wrapper {
            margin-bottom: theme('margin.6');

            @media(min-width: theme('breakpoints.xl', 'value')) {
                span {
                    font-size: theme('font.size.medium');
                }
            }

            @media(min-width: theme('breakpoints.sm', 'value')) and (max-width: theme('breakpoints.md', 'value')) {
                justify-content: flex-start;
            }
        }
    }

    .tutor-name {

        h4,
        h1 {
            @media(min-width: theme('breakpoints.xl', 'value')) {
                font-size: theme('font.size.h3');
            }
        }

        .flag {
            margin-#{theme('direction.left','value')}: theme('margin.8');
            width: 40px;
        }
    }
}


.har-rate {
    color: inherit;
    margin-bottom: theme('margin.4');

    @media(min-width: theme('breakpoints.xl', 'value')) {
        font-size: theme('font.size.medium');
    }
}

.tutor-lang {
    font-size: theme('font.size.medium');
    color: inherit;
    margin-bottom: theme('margin.4');

    @media(min-width: theme('breakpoints.xl', 'value')) {
        font-size: theme('font.size.medium');
    }
}

.detail-actions {
    .btn {
        border: 1px solid theme('color.gray.400');
        font-weight: 600;
        color: theme('color.dark') !important;
    }

    .is--active {
        background: theme('color.primary');
        color: theme('color.white') !important;
        border-color: theme('color.primary');
    }

    .icon {
        padding: 4px;
        margin-#{theme('direction.right','value')}: theme('margin.3');
    }

}

.btn--link {
    border-bottom: 1px solid;
    display: inline-block;
    vertical-align: text-bottom;
    padding: theme('padding.2') 0;
    height: 42px;
    line-height: 43px;
}

.content__row {
    &:last-child {
        margin-bottom: 0;
    }

    margin-bottom: theme('margin.16');
    color: theme('color.dark');

    @media(max-width: theme('breakpoints.md', 'value')) {
        margin-bottom: theme('margin.8');
    }

    h3 {
        font-size: theme('font.size.h3');
        margin-bottom: theme('margin.5');
    }

    p {
        line-height: 28px;
        margin-bottom: 0;
    }

    h4 {
        margin-bottom: theme('margin.2');

        @media(max-width: theme('breakpoints.md', 'value')) {
            font-size: 1.1rem;
        }
    }
}

.profile-primary {
    .panel-cover {
        &:first-child {
            .panel-cover__body {
                margin-top: theme('margin.5');
            }
        }

        &:last-child {
            border-bottom: none;
        }

        .panel-cover__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            @media(min-width: theme('breakpoints.md', 'value')) {
                & {
                    pointer-events: none;
                }
            }

            @media(max-width: theme('breakpoints.md', 'value')) {

                &::after {
                    position: absolute;
                    #{theme('direction.right','value')}: 0px;
                    top: 1px;
                    content: "+";
                    font-size: 1.6rem;
                    line-height: 1;
                }
            }

            @media(max-width: theme('breakpoints.sm', 'value')) {
                flex-direction: column;
                align-items: flex-start;
            }

            h3 {
                color: theme('color.dark');

                @media(max-width: theme('breakpoints.md', 'value')) {
                    font-size: 1.2rem;
                }

                @media(min-width: theme('breakpoints.xl', 'value')) {
                    font-size: theme('font.size.xxl');
                    pointer-events: none;
                }
            }

        }

        .is-active {
            @media(max-width: theme('breakpoints.md', 'value')) {
                &::after {
                    content: "-";
                }
            }
        }
    }

    &:first-child {
        margin-top: theme('margin.6');

        .panel-cover__body {
            margin-top: theme('margin.6');
        }
    }
}

.panel-head__right {
    display: flex;
    align-items: center;
    margin-bottom: theme('margin.3');

    @media(min-width: theme('breakpoints.md', 'value')) {
        position: absolute;
        top: 14%;
        #{theme('direction.right','value')}: 0;
    }

    @media(max-width: theme('breakpoints.md', 'value')) {
        margin-top: theme('margin.6');
    }

    .settings {
        width: 160px;
        margin-#{theme('direction.left','value')}: theme('margin.4');

        a {
            color: theme('color.gray');

            &::before {
                border-color: theme('color.gray');
            }
        }
    }
}


.panel-cover {

    border-bottom: 2px solid theme('color.gray.100');
    position: relative;

    @media(min-width: theme('breakpoints.md', 'value')) {
        padding: theme('padding.18') 0;
    }

    @media(max-width: theme('breakpoints.md', 'value')) {
        padding: theme('padding.5');
    }


    .panel-cover__body {
        margin-top: theme('margin.12');

        @media(max-width: theme('breakpoints.md', 'value')) {
            display: none;
        }
    }
}




.slider--prices {
    .card {
        padding: theme('padding.10') theme('padding.12');
        border: 1px solid theme('color.gray.300');

        @media(min-width: theme('breakpoints.xl', 'value')) and (max-width: theme('breakpoints.xxl', 'value')) {
            padding: theme('padding.10');
        }

        .card__head {
            margin-bottom: theme('margin.5');

            &::before {
                width: 3px;
                #{theme('direction.left','value')}: -42px;

                @media(max-width: theme('breakpoints.md', 'value')) {
                    #{theme('direction.left','value')}: -37px;
                }

                @media(min-width: theme('breakpoints.xl', 'value')) and (max-width: theme('breakpoints.xxl', 'value')) {
                    #{theme('direction.left','value')}: -35px;
                }
            }

            h4 {
                font-size: theme('font.size.medium');
                line-height: 2.3rem;

                @media(min-width: theme('breakpoints.xl', 'value')) and (max-width: theme('breakpoints.xxl', 'value')) {}

            }
        }
    }


    & .slider__item {
        padding: 0 theme('padding.4') 0;
    }

}


.lesson-slot-info {

    ul {
        li {
            position: relative;
            margin-bottom: theme('margin.3');

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: flex;
                align-items: center;
                margin-bottom: theme('margin.2');
                height: 30px;

                .space {
                    border-bottom: 1px solid theme('color.gray.400');
                    height: 19px;
                    width: 100%;
                    margin: 0 theme('margin.3');
                }

                .lesson {
                    white-space: nowrap;
                }
            }
        }
    }

}



.calendar-head__right {
    display: flex;
    align-items: center;

    .calendar-actions {
        margin-#{theme('direction.left','value')}: theme('margin.8');
        display: flex;

        .btn {
            border-color: theme('color.gray.300');
            font-weight: 600;
            padding: 0 theme('padding.5');

            .icon {
                width: 14px;
            }

        }
    }
}

.button-group {
    display: flex;
    margin-#{theme('direction.left','value')}: theme('margin.3');

    .btn {
        &:first-child {
            border-#{theme('direction.right','value')}: transparent;
        }
    }
}

.Schedule-date {
    color: theme('color.dark');
}

.arrow--left {
    transform: rotate(0deg);
}

.arrow--right {
    transform: rotate(180deg);
}

.calender__media {
    img {
        width: 100%;
    }
}

.alert--note {
    background: theme('color.gray.100');
    color: theme('color.gray.1000');
    font-size: theme('font.size.md');
    justify-content: center;
    flex-wrap: wrap;
    padding: theme('padding.3');
    line-height: 22px;

    &::before {
        filter: brightness(0.5);
        #{theme('direction.left','value')}: -4px;
        position: relative;
        top: 12px;
        background-size: 16px;
    }

    a {
        color: inherit;
        margin: 0 theme('margin.1');
    }
}

.silder--group-class {
    .slider__item {
        padding: theme('padding.2') theme('padding.3') theme('padding.16');

        .card {
            .card__head {
                h3 {
                    font-size: theme('font.size.h5');
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

    .slick-arrow {
        top: -40px;

        border: 1px solid theme('color.gray.300');
        border-radius: 0;
        width: 50px;
        height: 40px;

        &:before {
            #{theme('direction.left','value')}: 27px;
            top: 21px;
            border-color: theme('color.dark');
            width: 10px;
            height: 10px;
        }
    }

    .slick-next {
        #{theme('direction.right','value')}: 12px;
    }

    .slick-prev {
        #{theme('direction.right','value')}: 61px;
        #{theme('direction.left','value')}: unset;
    }

    .slick-disabled {
        opacity: 1;

        &:before {
            opacity: 0.2;
        }
    }
}

.content--tick {
    margin-bottom: theme('margin.16');

    .content__head {
        margin-bottom: theme('margin.6');

        h4 {
            color: theme('color.dark');
            font-size: 1.1rem;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            flex: 0 0 25%;
            max-width: 25%;
            padding-#{theme('direction.left','value')}: theme('padding.8');

            @media(max-width: theme('breakpoints.xl', 'value')) {
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }

            @media(max-width: theme('breakpoints.md', 'value')) {
                flex: 0 0 50%;
                max-width: 50%;
            }

            &:before {
                width: 15px;
                height: 2px;
                border-#{theme('direction.left','value')}: unset;
                border-bottom: 2px solid theme('color.primary');
                transform: unset;
                top: 7px;
            }
        }
    }
}

.content--tick {
    margin-bottom: theme('margin.16');

    &:last-child {
        margin-bottom: 0;
    }
}

.resume-wrapper {
    position: relative;
    margin-bottom: theme('margin.16');
    color: theme('color.gray.1000');

    @media(max-width: theme('breakpoints.md', 'value')) {
        margin-bottom: theme('margin.8');
    }

    .resume__primary {
        &::before {
            content: "";
            position: absolute;
            height: calc(100% + 30px);
            width: 1px;
            background: theme('color.gray.300');
            #{theme('direction.right','value')}: 0;
            top: 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: theme('color.gray.300');
            #{theme('direction.right','value')}: -5px;
        }
    }
}

.row--resume {
    margin-bottom: theme('margin.18');

    &:last-child {
        margin-bottom: 0;
    }

    @media(max-width: theme('breakpoints.md', 'value')) {
        margin-bottom: theme('margin.10');
    }

    [class*="col-sm-4"] {
        @media(max-width: theme('breakpoints.md', 'value')) {
            margin-bottom: theme('margin.6');
        }
    }
}

.rating-details {
    display: flex;
    align-items: center;
    margin-bottom: theme('margin.8');

    .rating__count {
        color: theme('color.secondary');

        h1 {
            font-size: calc(1.3rem + 32px);
        }
    }

    .rating__info {
        color: theme('color.dark');
        margin-#{theme('direction.left','value')}: theme('margin.8');

        p {
            margin-bottom: 0;
            margin-top: theme('margin.1');
            color: inherit;
        }
    }
}

.reviews-wrapper {
    color: theme('color.dark');

    .reviews-wrapper__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: theme('color.gray.100');
        padding: theme('padding.3') theme('padding.6');
        margin-bottom: theme('margin.12');

        @media(max-width: theme('breakpoints.sm', 'value')) {
            flex-direction: column;
            align-items: flex-start;
        }

        .review__shorting {
            position: relative;

            select {
                border: none;
                background-image: none;
                padding-#{theme('direction.left','value')}: 30px;
                padding-#{theme('direction.right','value')}: 30px;
                color: inherit;
                background-color: transparent;

                &:focus {
                    box-shadow: none;
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-left: 2px solid theme('color.dark');
                border-bottom: 2px solid theme('color.dark');
                #{theme('direction.right','value')}: 9px;
                top: 15px;
                transform: rotate(-45deg);
            }
        }

        p {
            margin-bottom: 0;
            color: inherit;
        }
    }
}

.review-profile {
    display: flex;

    .avatar.avatar-md {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media(max-width: theme('breakpoints.md', 'value')) {
        margin-bottom: theme('margin.6');
    }

    .user-info {
        margin-#{theme('direction.left','value')}: theme('margin.5');
    }

    p {
        margin-top: theme('margin.2');
        margin-bottom: 0;
    }
}

.reviews-wrapper__body {
    .row {
        margin-bottom: theme('margin.18');

        &:last-child {
            margin-bottom: 0;
        }

        @media(max-width: theme('breakpoints.md', 'value')) {
            margin-bottom: theme('margin.10');
        }
    }
}

.reviews-wrapper__foot {
    padding-top: theme('padding.8');
    margin-top: theme('margin.8');
    border-top: 1px solid theme('color.gray.300');
}

.review-content {
    .review-content__head {
        display: flex;
        align-items: center;
        margin-bottom: theme('margin.5');

        @media(max-width: theme('breakpoints.md', 'value')) {
            margin-bottom: theme('margin.3');
        }

        h6 {
            margin-#{theme('direction.right','value')}: theme('margin.6');
            font-size: theme('font.size.h6');

            span {
                font-weight: normal;
            }
        }
    }

    .review-content__body {

        p {
            line-height: 28px;
        }
    }
}

.profile-secondary {

    @media(max-width: theme('breakpoints.lg', 'value')) {
        margin: theme('margin.6') 0;
        width: 100%;
    }

    .right-panel {
        position: sticky;
        top: 30px;
    }
}


.book__actions .-gap {
    display: none;
}

.right-panel .-gap {
    height: 0;
}

.box--book {
    padding: theme('padding.10');
    border: 1px solid theme('color.gray.200');
    border-radius: theme('radius.1');

    @media(max-width: theme('breakpoints.lg', 'value')) {
        padding: theme('padding.10');
    }

    @media(min-width: theme('breakpoints.xxxl', 'value')) {
        padding: theme('padding.16') theme('padding.16') theme('padding.10');
    }

    @media(max-width: theme('breakpoints.md', 'value')) {
        border: none;
        padding: theme('padding.4');
    }
}

.book__actions {
    text-align: center;

    .btn {
        height: 50px;
        font-weight: 600;
        margin-bottom: theme('margin.4');
    }

    .btn--contact {
        border: 1px solid theme('color.gray.400');
    }

    .btn-availbility {
        background-color: transparent;
        font-weight: normal;
        text-decoration: underline;
    }

    .btn--trial {
        height: auto;
        line-height: 1.4;
        min-height: 2.875rem;
        padding: .5rem 1.25rem;
        margin-bottom: theme('margin.1');
        margin-top: theme('margin.10');

        span {
            margin-#{theme('direction.right','value')}: 3px;
            white-space: normal;
        }
    }

    p {
        color: theme('color.dark');
        margin-bottom: 0;
    }
}

.select--box {
    width: 160px;
    color: theme('color.dark');
    background: #fff;
    height: 40px;
    border: 1px solid theme('color.gray.200');
    position: relative;
    margin-#{theme('direction.left','value')}: theme('margin.4');

    &::before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        background: transparent;
        border-#{theme('direction.right','value')}: 2px solid theme('color.dark');
        border-bottom: 2px solid theme('color.dark');
        transform: rotate(45deg);
        #{theme('direction.right','value')}: 15px;
        top: 15px;
        pointer-events: none;
    }

    select {
        padding: 0 theme('padding.6');
        background-image: none;
        background-color: transparent;
        border: none;
        color: inherit;
    }
}

.profile-cover {
    @media(min-width: theme('breakpoints.lg', 'value')) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    @media(max-width: theme('breakpoints.md', 'value')) {
        display: flex;
        flex-direction: column;
    }

    scroll-behavior: smooth;

    .profile-head {
        order: 1;

        @media(min-width: theme('breakpoints.lg', 'value')) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        @media(min-width: theme('breakpoints.xl', 'value')) {
            width: calc(100% - 100px);
        }

        @media(min-width: theme('breakpoints.lg', 'value')) and (max-width: theme('breakpoints.xxxl', 'value')) {
            width: calc(100% - 50px);
        }

    }

    .profile-primary {
        scroll-behavior: smooth;
        order: 3;
        width: 100%;

        @media(min-width: theme('breakpoints.lg', 'value')) {
            scroll-behavior: smooth;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        @media(min-width: theme('breakpoints.xl', 'value')) {
            width: calc(100% - 100px);
        }

        @media(min-width: theme('breakpoints.lg', 'value')) and (max-width: theme('breakpoints.xxxl', 'value')) {
            width: calc(100% - 30px);
        }

        @media(max-width: theme('breakpoints.md', 'value')) {
            border-top: 1px solid theme('color.gray.200');
            border-bottom: 1px solid theme('color.gray.200');
        }

    }

    .profile-secondary {
        order: 2;

        @media(min-width: theme('breakpoints.lg', 'value')) {
            grid-column-start: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        @media(min-width: theme('breakpoints.xl', 'value')) {
            width: 400px;
        }

        @media(min-width: theme('breakpoints.lg', 'value')) and (max-width: theme('breakpoints.xxxl', 'value')) {
            width: 300px;
        }

        @media(max-width: theme('breakpoints.xl', 'value')) {
            width: 300px;
        }

        @media(max-width: theme('breakpoints.lg', 'value')) {
            width: 100%;
        }

    }
}



.panel-cover {
    & .slider__item {
        padding-bottom: 0;
    }
}

.review-profile {
    & .avtar {
        width: 48px;
    }

    & .user-info {
        width: calc(100% - 48px);
    }
}


.table-md-scroll {
    @media(max-width: theme('breakpoints.sm', 'value')) {
        & {
            overflow: auto;
        }
    }
}