$dashboard: "dashboard";

.#{$dashboard}{
    
    @media (min-width:theme('breakpoints.xl','value')) {
        display: flex;
    }

    

    $dashboard__primary: "dashboard__primary";

    .#{$dashboard__primary}{



        width: 100%;
        @media (max-width:theme('breakpoints.xl','value')) {
            order: 2;
        }
        @media(max-width: theme('breakpoints.xxxl','value')) {
            padding: 0 theme('padding.10') theme('padding.10');
        }
        @media(max-width: theme('breakpoints.sm','value')) {
            padding: 0 theme('padding.5') theme('padding.10');
        }
    }
    


    $dashboard__secondary: "dashboard__secondary";

    .#{$dashboard__secondary}{
        background-color: #fff;
        position: relative;
        transition: all 0.2s;
        box-shadow: theme('boxShadow.l-r');
        
       
        @media (min-width:theme('breakpoints.xl','value')){
            &{
                max-width:22rem;
                position: sticky;
                top: 0;
                bottom: 0;
                #{theme('direction.right','value')}: 0;
                z-index: 3;
                height: 100vh;
                width: 100%;
                min-width: 0;
            }
        }


    }
    
}

$status-bar: "status-bar";

.#{&status-bar} {
    border-radius: theme('radius.0');
    height: 100%;

    @media (min-width:theme('breakpoints.xl','value')){
        flex-direction: column;
        display: flex;
    }

    @media (min-width:theme('breakpoints.lg','value')) and (max-width:theme('breakpoints.xl','value')) {
        &{
            padding: theme('padding.8') theme('padding.4');
            max-height: 558px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    .status-title{
        padding: theme('padding.5');  
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid theme('color.gray.200');
        h5{
            font-size: theme('font.size.h5');
            color: theme('color.dark');
        }
    }
    .status-bar__body{
        margin: theme('margin.6');
        @media (min-width:theme('breakpoints.xxl','value')) {
            height: calc(100% - 408px);
            overflow: auto;
        }
        .calendar{
            img{
                width: 100%;
            }
        }
        
        .listing-window{
            position: relative;
            .scrollbar{
                max-height: inherit;
                height: calc(100% - 1px);
            }

            .message-display{
                min-height: 25rem;
            }
        }

        @media(max-width: theme('breakpoints.xxl','value')){
            max-height: 477px;
            overflow: auto;
        }
    }
}

.lesson-list-container{
    .date{
        span{
            margin-bottom: 15px;
        }
    }
}

.learnerscheduledlessons{ 
    .tooltipevent{
        border-top: 3px solid theme('color.primary');;
        border-radius: 6px;
        .booking-view{
            h3{
                font-size: 1.6rem;
                margin-bottom: 5px;
            }
        }
    }
}

$lesson-list-container: "lesson-list-container";

.#{&lesson-list-container} {

    .date{
        font-size: theme('font.size.small');
        text-transform: uppercase;
        color: theme('color.gray.1000');
        font-weight: theme('font.weight.medium');
        margin-bottom: theme('margin.4');
        .lesson-list{
            &:first-child{
                margin-top: 10px;
            }
        }
    }

}

$lesson-list: "lesson-list";

.#{&lesson-list} {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: theme('padding.6') theme('padding.4');
    background-color: #EDEFF3;
    border-radius: theme('radius.1');
    margin-bottom: theme('margin.3');
    &:after{
        position: absolute;
        #{theme('direction.right','value')}: 1.5rem;
        top: 50%;
        content: "";
        width: 7px;
        height: 7px;
        border-#{theme('direction.right','value')}: 1px solid theme('color.dark');
        border-bottom: 1px solid theme('color.dark');
        transform: rotate(-45deg);
        pointer-events: none;
        transform-origin: 0 0;
    }
    .lesson-list__left {
        width: 40px;
    }

    .lesson-list__right {
        width: calc(100% - 80px);
        margin-#{theme('direction.left','value')}: theme('margin.4');

        p{
            margin-bottom: theme('margin.3');
            line-height: 1;
            color: theme('color.dark');

            &:last-child{
                margin-bottom: theme('margin.0');
            }
        }

        .lesson-time{
            color: theme('color.dark');
            font-weight: theme('font.weight.medium');
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            line-height: 20px;
            span{
                color: theme('color.primary');;
                margin-#{theme('direction.right','value')}: 3px;
            }

            @media(max-width:theme('breakpoints.sm','value')){
                max-width: 200px;
            }
            @media(min-width:theme('breakpoints.xl','value')){
                max-width: 230px;
            }
            @media(min-width:theme('breakpoints.xxl','value')) and (max-width:theme('breakpoints.xxxl','value')){
                max-width: 170px;
            }
        }
    }

    .lesson-list__action{
        position: absolute;
        #{theme('direction.left','value')}: 0;
        #{theme('direction.right','value')}: 0;
        top: 0;
        bottom: 0;
        display: block;
    }
}
html[dir="rtl"]{
    .lesson-list{ 
        &:after{          
            transform: rotate(135deg); 
        }
    }       
}


.lesson-list-container{
    margin-bottom: theme('margin.12');
    &:last-child{
        margin-bottom: 0;
    }
}

$stat: "stat";

.#{&stat}{
    background-color: theme('color.white');
    padding: theme('padding.6');
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: theme('radius.0');
    box-shadow: theme('boxShadow.all');
    transition: all 0.2s;

    .stat__media {
        width: 5.72rem;
        height: 5.72rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: theme('radius.round');
        color: #fff;

        @media(min-width:theme('breakpoints.xxl','value')) and (max-width:theme('breakpoints.xxxl','value')){
            &{
                width: 3.72rem;
                height: 3.72rem;
                svg{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
    span{
        color: theme('color.gray.1000');
    }
    .stat__action{
        position: absolute;
        #{theme('direction.left','value')}: 0;
        #{theme('direction.right','value')}: 0;
        top: 0;
        bottom: 0;
        display: block;
    }

    @media(min-width:theme('breakpoints.xl','value')){
        &:hover{
            box-shadow: theme('boxShadow.vertical');
            margin-#{theme('direction.left','value')}: -5px;
            margin-#{theme('direction.right','value')}: -5px;
        }
    }

    @media(max-width:theme('breakpoints.xl','value')){
        margin-bottom: theme('padding.6');
    }
}


$statistics: "statistics";

.#{&statistics}{
    background-color: theme('color.white');
    padding: theme('padding.6');
    position: relative;
    border-radius: theme('radius.1');
    box-shadow: theme('boxShadow.all');
    .statistics__head {
        margin-bottom: theme('padding.6');
    }

    .statistics__body{
        .graph-media{
            img{
                width: 100%;
            }
        }
    }
}

$sale-stat: "sale-stat";

.#{&sale-stat} {
    display: flex;
    align-items: center;
    justify-content: space-between;
     

    @media(min-width:theme('breakpoints.xxxl','value')){
        &{
            padding: theme('padding.5');
        }
    }
    @media(max-width:theme('breakpoints.xxxl','value')){
        &{
            padding: theme('padding.5') theme('padding.4');
            margin-bottom: theme('margin.4');
        }
    }

    
}

.sale-stat__select{
    float: #{theme('direction.right','value')};
    @media(max-width:theme('breakpoints.lg','value')){
        &{
            width: 140px;
        }
    }
}

.sale-stat{
    position: relative; border-radius: theme('radius.1'); overflow: hidden;
}

.sale-stat--yellow{
    color: theme('color.third');
    &:before{
        position: absolute;
        #{theme('direction.left','value')}: 0;
        #{theme('direction.right','value')}: 0;
        bottom: 0;
        top: 0;
        content: "";
        pointer-events: none;
        background-color: currentColor;
        opacity: 0.15;
    }
}
.sale-stat--sky{
    color: #48C5D2;
    &:before{
        position: absolute;
        #{theme('direction.left','value')}: 0;
        #{theme('direction.right','value')}: 0;
        bottom: 0;
        top: 0;
        content: "";
        pointer-events: none;
        background-color: currentColor;
        opacity: 0.15;
    }
}


.graph-media{
    img{
        width: 100%;
    }
}

$margin-bottom-6: "margin-bottom-6";

.#{&margin-bottom-6} {
    margin-bottom: theme('padding.6');
}

.upcoming {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: theme('margin.3');

    h6 {
        color: theme('color.dark');
    }
}

.dashboard-teacher{

    .dashboard__primary{
        @media (min-width:theme('breakpoints.xxxl','value')) {
            padding: 0 theme('padding.12');
            width: 100%;
        }
    }
}

.lesson-price p {
    margin-bottom: 0;
}

.flex-cell__content{
    display: flex;
    align-items: center;
}

.select2-container{

    .select2-selection--single{
        height: 2.8rem !important;
        border: 1px solid theme('color.gray.300') !important;
        position: relative;

        .select2-selection__rendered{
            line-height: 38px !important;
            padding: 0 theme('padding.4') !important;
            //color: #999 !important;
            padding-#{theme('direction.right','value')}: 30px !important;
        }
        .select2-selection__arrow{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px !important;
            top: 0 !important;
            #{theme('direction.right','value')}: 5px !important;
            b{
                border-width: 6px 5px 0 5px !important;
            }
        }
    }

}

.language {
    display: flex;
    align-items: center;

    .my_teacher_lang_heading {
        margin-#{theme('direction.right','value')}: 4px;
    }
    
    .btn--equal{
        width: 2.5rem;
        height: 2.5rem;
        min-width: 2.5rem;

        .icon{
            width: 15px;
            height: 15px;
        }
    }
}

$aside--progress--menu: "aside--progress--menu";
.#{&aside--progress--menu} {
    position: relative;

    &:not(.is-completed){

        &::after{
            position: absolute;
            #{theme('direction.right','value')}: 0.9rem;
            top: 0.6rem;
            content: "!";
            color: #fff;
            pointer-events: none;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0.9rem;
            #{theme('direction.right','value')}: 0.5rem;
            transform: translateY(-25%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 1.75em;
            height: 1.75em;
            border-radius: 1.75em;
            padding-#{theme('direction.left','value')}: theme('padding.1');
            padding-#{theme('direction.right','value')}: theme('padding.1');
            content: attr(data-count);
            font-size: 0.66em;
            line-height: 1.75em;
            background-color: theme('color.third');
            pointer-events: none;
        }
    }
    
}

.main-dashboard .page__footer{
    display: none;
}
.teacherscheduledlessons.view .page__footer{
    display: none;
}
.learnerscheduledlessons.view .page__footer{
    display: none;
}
.messages .page__footer{
    display: none;
}


.menu--steps{
    .profile--progress--menu{
        &:not(.is-completed){
            a{
                opacity: 1;

                .menu__icon{
                    background-color: theme('color.yellow');
                    display: block;
                    @media (max-width:theme('breakpoints.xl','value')) {
                        #{theme('direction.right','value')}: 0;
                    }
                }
            }

        }
        .menu__icon{
            min-width: 1.75em;
            height: 1.75em;
            position: absolute;
            #{theme('direction.right','value')}: 1rem;
            top: 50%;
            border-radius: 1.75em;
            padding-#{theme('direction.left','value')}: theme('padding.1');
            font-size: 0.66em;
            line-height: 1.75em;
            padding-#{theme('direction.right','value')}: theme('padding.1');
            transform: translate(0, -50%);
            @media (max-width:theme('breakpoints.md','value')) {
                #{theme('direction.right','value')}: 0rem;
            }
            &::before{
                position: absolute;
                left: 0.43rem;
                font-weight: 600;
                content: "!";
                color: #fff;
                font-size: 15px;
                pointer-events: none;
            }
        }
    }
}


.stats-row{
    & .stat{margin:0 0 2rem 0;}
    @media(min-width:1201px) and (max-width:1499px){
        & .row > [class*="col-"]{flex: 0 0 50%; max-width:50%;
           
        }
    }

    @media (max-width:theme('breakpoints.xl','value')) {
        & .row > [class*="col-"]{flex: 0 0 50%; max-width:50%;
          
        }
    }
    @media (max-width:theme('breakpoints.sm','value')) {
        & .row > [class*="col-"]{flex: 0 0 100%; max-width:100%;
           
        }
    }
    
}

.attachmentFile{ 
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; 
    &-status{
        width: 24px;
        height: 24px;
        display: block;
        border-radius: var(--radius-round);
        padding-#{theme('direction.left','value')}: var(--padding-1);
        padding-#{theme('direction.right','value')}: var(--padding-1);
        margin-#{theme('direction.right','value')}: var(--padding-1);
        position: relative;
        text-align: center;
        &.is-progress{
            background-color: var(--color-yellow); 
        }
        &.is-deleted{
            background-color: var(--color-red);            
        }
        &.is-completed{
            background-color: var(--color-green); 
            &::before{
                content:"✓";
            }
        }
        &::before{
            content: "!";
            color: var(--color-white);
            font-size: 18px; 
            display: block;
        }
    }
}
.profileinfo{
    .cookie-consent{
        .btn-close{display: none;} 
    }
}
#reschedule{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden; 
}
.form .field_label {
    display: block;
    width: 100%;
}
.address-group{
    display: flex;
    gap: 1rem;
    &__content{flex: 1;}
    &__icon{
        width: 48px;
        height: 48px;
        flex: 0 0 48px;
        max-width: 48px;
        background-color: #e9ecef;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
}
.actions-group--address{
    @media (max-width:theme('breakpoints.md','value')) {
        margin-#{theme('direction.left','value')}: 60px;
    }
}
.gap-2{gap: 1rem;}
.img-description {
    display: inline-block;
    padding: 20px;
    background: #fff;
    width: 100%;
    text-align: center;
}

.img-description .btn {
    margin: 5px;
}

.rotator-info {
    display: inline-block;
    width: 100%;
    padding: 0 0 20px 0;
}

.rotator-actions {
    display: inline-block;
    background: #fff; 
    width: 100%;
}
.page-panel{
    .modal-header.cookie-consent{
        .btn-close{
            display: none;
        }
    }
}
