/*** LTR ***/
.tags {
  position: relative; }
  @media (min-width: 576px) {
    .tags__overflow {
      display: contents; } }
  @media (max-width: 576px) {
    .tags__overflow {
      display: block;
      overflow: auto;
      white-space: nowrap; }
    .tags__item {
      min-width: 60px;
      display: inline-block;
      vertical-align: top; } }

.forum-header {
  padding: var(--padding-8) 0 0; }
  .forum-header h4 {
    font-weight: normal; }
  @media (min-width: 576px) {
    .forum-header {
      padding: var(--padding-8) 0 0; } }
  @media (max-width: 576px) {
    .forum-header h1 {
      font-size: 1.8rem; }
    .forum-header h4 {
      font-size: 1.1rem; }
    .forum-header hgroup {
      text-align: center; } }
  @media (max-width: 576px) {
    .forum-header .tags {
      text-align: center; } }
  .forum-header h1 {
    font-size: 2.4rem; }
  @media (min-width: 576px) {
    .forum-header h4 {
      font-size: 1.6rem; } }
  .forum-header .tabs--line ul li.is-active a {
    color: var(--color-black); }

.forum-body {
  padding: var(--padding-14) 0;
  background-color: var(--color-gray-100);
  min-height: 500px; }

@media (min-width: 576px) {
  .forum-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .forum-actions__large {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      padding-right: var(--padding-10); }
    .forum-actions__small {
      min-width: 315px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      .forum-actions__small .btn {
        font-weight: var(--font-weight-medium); } }

@media (max-width: 1199px) {
  .forum-actions__small {
    min-width: 1%; }
    .forum-actions__small .btn {
      padding: 0 var(--padding-10); } }

@media (max-width: 576px) {
  .forum-actions .btn.btn--xlarge {
    height: 50px;
    line-height: 50px;
    font-size: 1rem; }
  .forum-actions__small {
    padding-bottom: var(--padding-6); } }

@media (min-width: 1199px) {
  .forum-actions__large {
    padding-right: var(--padding-14); } }

.forum-search {
  position: relative; }
  .forum-search__action {
    position: absolute;
    top: 0; }
    @media (max-width: 576px) {
      .forum-search__action {
        width: 50px;
        height: 50px; } }
    @media (min-width: 576px) {
      .forum-search__action {
        width: 60px;
        height: 60px; } }
    .forum-search__action--reset {
      right: 3rem; }
    .forum-search__action--submit {
      right: 0; }
    .forum-search__action .close, .forum-search__action .btn {
      pointer-events: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .forum-search__action--submit input {
    padding: 0 !important;
    font-size: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent !important;
    position: absolute !important;
    cursor: pointer; }
  .forum-search__action--reset input {
    padding: 0 !important;
    font-size: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent !important;
    position: absolute !important;
    border: none !important;
    cursor: pointer; }
  .forum-search__action .btn--equal {
    width: 100%;
    height: 100%; }
    .forum-search__action .btn--equal .icon.icon--small {
      width: 20px;
      height: 20px; }
  .forum-search__field input {
    padding-right: 130px; }
    .forum-search__field input:focus {
      border-color: var(--color-secondary);
      border-width: 2px; }
    @media (max-width: 576px) {
      .forum-search__field input {
        height: 50px; } }
    @media (min-width: 576px) {
      .forum-search__field input {
        height: 60px; } }
  .forum-search .form-reset {
    width: 60px;
    height: 60px;
    position: relative;
    color: inherit;
    font-size: var(--font-size-xxxl);
    line-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: none;
    pointer-events: none; }
    .forum-search .form-reset:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      content: "+";
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      text-align: center; }
    .forum-search .form-reset--small {
      width: 28px;
      height: 28px;
      line-height: 20px;
      font-size: var(--font-size-xl); }

.forum-stat {
  background-color: var(--color-white);
  position: relative;
  -webkit-box-shadow: var(--boxShadow-all);
          box-shadow: var(--boxShadow-all);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: var(--radius-1);
  overflow: hidden; }
  .forum-stat__content {
    padding: var(--padding-6);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%; }
    .forum-stat__content h3 {
      line-height: 1.6; }
      @media (min-width: 1199px) {
        .forum-stat__content h3 {
          max-width: 80%; } }
  .forum-stat__count {
    padding: var(--padding-6) 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%; }
  .forum-stat__media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin-top: auto; }
  @media (max-width: 991px) {
    .forum-stat__content {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 54%;
              flex: 0 0 54%; }
      .forum-stat__content .btn {
        width: 80%;
        display: block !important;
        margin-top: var(--margin-2);
        text-align: center; }
    .forum-stat__count {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 46%;
              flex: 0 0 46%;
      position: relative;
      z-index: 1; }
    .forum-stat__media {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%;
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 220px; } }
  @media (max-width: 576px) {
    .forum-stat__content {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; }
      .forum-stat__content h3 {
        font-size: 1.2rem; }
      .forum-stat__content .btn {
        width: 100%; }
    .forum-stat__count {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      position: relative;
      z-index: 1;
      padding: 0 var(--padding-8); }
    .forum-stat__media {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 220px; } }

@media (min-width: 991px) {
  .forum-stat .social-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .forum-stat .social-actions .social-button {
      margin: 0.5%;
      width: auto;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      min-width: 32.25%; } }

@media (max-width: 1199px) {
  .forum-stat .social-actions .social-button {
    font-size: 0.9rem; } }

.forum-stat .social-actions + .-gap {
  display: none; }

.forum-counts {
  height: 100%; }
  @media (min-width: 576px) {
    .forum-counts {
      border-left: 1px solid var(--color-gray-200);
      padding-left: var(--padding-10); } }

@media (min-width: 991px) {
  .flex-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .flex-panel__large {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-right: var(--padding-10); }
    .flex-panel__small {
      min-width: 315px;
      max-width: 315px; } }

@media (min-width: 1199px) {
  .flex-panel__large {
    padding-right: var(--padding-14); } }

@media (max-width: 991px) {
  .flex-panel__small {
    padding-top: var(--padding-10); } }

.article-check {
  width: 36px;
  height: 36px;
  position: relative;
  background-color: var(--color-success);
  border-radius: var(--radius-round);
  display: block; }
  @media (min-width: 576px) {
    .article-check {
      margin: var(--margin-6) auto; } }
  .article-check:before {
    position: absolute;
    left: 32%;
    top: 48%;
    content: "";
    pointer-events: none;
    width: 9px;
    height: 14px;
    border-bottom: 3px solid var(--color-white);
    border-right: 3px solid var(--color-white);
    -webkit-transform: rotate(44deg) translate(-50%, -50%);
        -ms-transform: rotate(44deg) translate(-50%, -50%);
            transform: rotate(44deg) translate(-50%, -50%);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    pointer-events: none; }
  .article-check .tooltip {
    min-width: 80px; }

.article {
  background-color: var(--color-white);
  padding: var(--padding-4);
  -webkit-box-shadow: var(--boxShadow-all);
          box-shadow: var(--boxShadow-all);
  border-radius: var(--radius-1);
  margin-top: var(--margin-6);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid transparent;
  position: relative; }
  @media (min-width: 576px) {
    .article {
      padding: var(--padding-6) var(--padding-6) var(--padding-4);
      display: grid;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
      margin-top: var(--margin-8); } }
  .article__left {
    min-width: 50px; }
  .article__right {
    padding-left: 0; }
  @media (min-width: 576px) {
    .article__right {
      padding-left: var(--padding-16); } }
  @media (max-width: 576px) {
    .article__left {
      margin-bottom: var(--margin-4);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .article .article-desc {
      clear: left;
      margin-top: 1rem; } }
  .article.is-completed {
    border-color: var(--color-success);
    padding-top: var(--padding-6); }
  @media (min-width: 1199px) {
    .article:hover .article-title {
      color: var(--color-primary); }
      .article:hover .article-title a {
        background-size: 100% 1px;
        color: var(--color-primary); } }

@media (min-width: 576px) {
  .article-list .article:hover {
    -webkit-box-shadow: var(--boxShadow-vertical);
            box-shadow: var(--boxShadow-vertical); } }

.article-list:first-child .article {
  margin-top: 0; }

.counts {
  position: relative;
  text-align: center; }
  .counts .tooltip {
    min-width: 80px;
    padding: var(--padding-2) var(--padding-3);
    white-space: nowrap;
    display: block; }
    @media (max-width: 1199px) {
      .counts .tooltip {
        display: none; } }
  @media (max-width: 576px) {
    .counts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.vote {
  position: relative;
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-gray-200);
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 1199px) {
    .vote svg {
      width: 30px;
      height: 30px; } }
  @media (max-width: 576px) {
    .vote--up {
      color: var(--color-black);
      border: 1px solid var(--color-gray-300);
      border-radius: var(--radius-round); }
      .vote--up svg {
        fill: var(--color-gray-500); } }
  @media (max-width: 576px) {
    .vote--down {
      color: var(--color-black);
      border: 1px solid var(--color-gray-300);
      border-radius: var(--radius-round); }
      .vote--down svg {
        fill: var(--color-gray-500); } }

.vote-counts {
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  font-size: var(--font-size-h4);
  display: block;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-800); }
  @media (max-width: 576px) {
    .vote-counts {
      min-width: 60px;
      padding: 0 var(--padding-4); } }

.article-content {
  min-height: 80px;
  margin-bottom: var(--margin-8); }
  @media (min-width: 576px) {
    .article-content {
      margin-bottom: var(--margin-8); } }

.style-italic {
  font-style: italic; }

.article-stats {
  width: 100%;
  margin-top: var(--margin-6);
  border-top: 1px solid var(--color-gray-200);
  padding-top: var(--padding-4); }
  @media (min-width: 576px) {
    .article-stats {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 576px) {
    .article-stats__right {
      padding-top: var(--padding-4);
      border-top: 1px solid var(--color-gray-200);
      margin-top: var(--margin-4); } }

.article-author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .article-author__avatar {
    min-width: 50px;
    margin: 0; }
    @media (max-width: 576px) {
      .article-author__avatar {
        min-width: 50px; } }
  @media (max-width: 576px) {
    .article-author__content {
      width: calc(100% - 50px); }
      .article-author__content .style-italic {
        display: block;
        margin-top: 0.5rem; } }

.article-actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 576px) {
    .article-actions ul li {
      margin-left: var(--margin-3); } }
  @media (max-width: 576px) {
    .article-actions ul li {
      margin-right: var(--margin-2); } }

.article-actions__trigger {
  padding: var(--padding-3) var(--padding-5);
  font-weight: var(--font-weight-medium);
  padding-left: var(--padding-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--radius-round);
  position: relative; }
  @media (min-width: 1199px) {
    .article-actions__trigger:not(span):hover {
      background-color: var(--color-gray-100); } }

@media (min-width: 991px) {
  .article-side--sticky {
    position: sticky;
    top: 8rem; } }

.article-widget {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--boxShadow-all);
          box-shadow: var(--boxShadow-all);
  border-radius: var(--radius-1);
  margin-bottom: 1.4rem; }
  .article-widget__head {
    padding: var(--padding-5) var(--padding-8);
    border-bottom: 1px solid var(--color-gray-200);
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02); }
  .article-widget__body {
    padding: var(--padding-6) var(--padding-8); }

.mini-article {
  position: relative;
  padding: var(--padding-5) var(--padding-8); }
  .mini-article:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-200); }
  .mini-article__title {
    line-height: 1.6; }
    .mini-article__title a {
      font-weight: var(--font-weight-medium); }
  .mini-article__stats {
    opacity: 0.7; }
  @media (min-width: 1199px) {
    .mini-article:hover {
      background-color: rgba(0, 0, 0, 0.02); } }
  @media (min-width: 1199px) {
    .mini-article:hover .mini-article__title {
      color: var(--color-primary); }
      .mini-article:hover .mini-article__title a {
        background-size: 100% 1px;
        color: var(--color-primary); } }

.article-authors__item {
  position: relative;
  padding: var(--padding-5) var(--padding-8); }
  @media (min-width: 1199px) {
    .article-authors__item:hover {
      background-color: rgba(0, 0, 0, 0.02); } }

.article-authors__item:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200); }

.article-panel {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--boxShadow-all);
          box-shadow: var(--boxShadow-all);
  border-radius: var(--radius-1);
  margin-bottom: var(--margin-8);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid transparent; }
  @media (min-width: 576px) {
    .article-panel .article-stats {
      padding: var(--padding-3) var(--padding-8); } }
  @media (max-width: 576px) {
    .article-panel .article-stats__left {
      padding: 0 var(--padding-4); }
    .article-panel .article-stats__right {
      padding: var(--padding-4); }
    .article-panel .article-stats .share__trigger {
      font-size: 100%;
      width: auto; } }
  .article-panel.is-completed {
    border-color: var(--color-success); }

.article-grid {
  padding: var(--padding-4); }
  @media (min-width: 576px) {
    .article-grid {
      padding: var(--padding-6);
      padding-bottom: 0;
      display: grid;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr; } }
  .article-grid__left {
    min-width: 50px; }
  .article-grid__right {
    padding-left: 0; }
  @media (min-width: 576px) {
    .article-grid__right {
      padding-left: var(--padding-16); } }
  @media (max-width: 576px) {
    .article-grid__left {
      margin-bottom: var(--margin-4); } }
  @media (max-width: 576px) {
    .article-grid .article-title {
      font-size: 1.6rem; } }

.article-comment {
  padding: var(--padding-6);
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr; }
  @media (max-width: 576px) {
    .article-comment {
      padding: var(--padding-4); } }
  .article-comment__left {
    padding-top: var(--padding-3); }
  .article-comment__right {
    padding-left: var(--padding-8); }

.comment-panel {
  position: relative; }
  .comment-panel__trigger {
    padding: var(--padding-4);
    color: var(--color-gray-800);
    display: block;
    min-height: 50px;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius-1);
    line-height: 1.4; }
    .comment-panel__trigger.is-active {
      display: none; }

.step-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem; }
  @media (max-width: 576px) {
    .step-actions input[type="button"], .step-actions .btn {
      border: 1px solid var(--color-gray-300) !important;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .step-actions input[type="submit"] {
      border-color: currentColor;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

.article-result {
  margin-top: var(--margin-12); }
  .article-result__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: var(--margin-6); }

.article-card {
  padding: var(--padding-4);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid transparent;
  position: relative; }
  @media (min-width: 576px) {
    .article-card {
      padding: var(--padding-6);
      display: grid;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr; } }
  .article-card__left {
    min-width: 50px; }
    @media (max-width: 576px) {
      .article-card__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: var(--margin-6); }
        .article-card__left :first-child {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; }
        .article-card__left :nth-child(2) {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; } }
  .article-card__right {
    padding-left: 0; }
  @media (min-width: 576px) {
    .article-card__right {
      padding-left: var(--padding-16); } }
  .article-card .article-author {
    padding: 0;
    margin: 0 0 var(--margin-6); }

.article-mark {
  width: 36px;
  height: 36px;
  position: relative;
  background-color: var(--color-gray-200);
  border-radius: var(--radius-round);
  display: block;
  color: var(--color-white); }
  @media (min-width: 576px) {
    .article-mark {
      margin: 0 auto var(--margin-8); } }
  .article-mark:before {
    position: absolute;
    left: 32%;
    top: 48%;
    content: "";
    pointer-events: none;
    width: 9px;
    height: 14px;
    border-bottom: 3px solid var(--color-white);
    border-right: 3px solid var(--color-white);
    -webkit-transform: rotate(44deg) translate(-50%, -50%);
        -ms-transform: rotate(44deg) translate(-50%, -50%);
            transform: rotate(44deg) translate(-50%, -50%);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    pointer-events: none; }
  .article-mark.is-active {
    background-color: var(--color-success); }
    .article-mark.is-active:after {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "+";
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      font-size: var(--font-size-h3);
      line-height: 1.4;
      font-weight: var(--font-weight-bold);
      display: none; }
    .article-mark.is-active:hover:before {
      display: none; }
    .article-mark.is-active:hover:after {
      display: block; }
  .article-mark .tooltip {
    white-space: nowrap;
    padding: var(--padding-2) var(--padding-3); }
    @media (max-width: 1199px) {
      .article-mark .tooltip {
        display: none; } }

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sorting {
    position: relative; }
  .sorting .select-option {
    margin: 0; }
  .sorting__label {
    padding: 0 var(--padding-1);
    font-weight: var(--font-weight-medium); }
  .sorting__trigger {
    position: relative;
    padding: var(--padding-3);
    padding-right: var(--padding-8);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .sorting__trigger:before {
      position: absolute;
      right: 0.5rem;
      top: 46%;
      width: 8px;
      height: 8px;
      content: "";
      border-right: 2px solid var(--color-gray-1000);
      border-bottom: 2px solid var(--color-gray-1000);
      -webkit-transform: translateY(-50%) rotate(45deg);
          -ms-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
      pointer-events: none; }
  .sorting__target {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: var(--padding-6);
    z-index: 12; }
    .sorting__target:before {
      position: absolute;
      right: 1rem;
      top: 10px;
      content: "";
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #fff;
      pointer-events: none;
      z-index: 1; }
  .sorting__target .filter-dropdown {
    -webkit-box-shadow: var(--boxShadow-vertical);
            box-shadow: var(--boxShadow-vertical);
    min-width: 200px;
    padding: var(--padding-4);
    border: 1px solid var(--color-gray-100); }

.reset-search {
  width: 50px;
  height: 60px;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 50px;
  top: 0;
  text-align: center;
  line-height: 60px;
  font-size: 0; }
  .reset-search:after {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "+";
    font-size: 2.4rem;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  @media (max-width: 576px) {
    .reset-search {
      height: 50px;
      line-height: 50px; } }

.article-directions {
  margin-top: var(--margin-20); }
  .article-directions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .article-directions__item {
      max-width: 300px; }
      @media (max-width: 576px) {
        .article-directions__item {
          width: 50%; } }
      .article-directions__item-next {
        text-align: right; }
        @media (max-width: 576px) {
          .article-directions__item-next {
            padding-left: var(--padding-6); } }
      @media (max-width: 576px) {
        .article-directions__item-prev {
          padding-right: var(--padding-6); } }

.directions-action {
  display: block;
  position: relative; }
  .directions-action__item {
    font-weight: var(--font-weight-bold);
    color: var(--color-secondary); }
    .directions-action__item-prev {
      padding-left: var(--padding-5);
      position: relative; }
      .directions-action__item-prev:before {
        width: 8px;
        height: 8px;
        content: "";
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 6px;
        border-left: 2px solid  currentColor;
        border-bottom: 2px solid  currentColor;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .directions-action__item-next {
      padding-right: var(--padding-5);
      position: relative; }
      .directions-action__item-next:before {
        width: 8px;
        height: 8px;
        content: "";
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 6px;
        border-right: 2px solid  currentColor;
        border-top: 2px solid  currentColor;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
  .directions-action:hover {
    color: var(--color-primary); }
  @media (max-width: 576px) {
    .directions-action h6 {
      font-size: 12px; } }

.more-block {
  position: relative; }
  .more-block:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    content: "";
    pointer-events: none;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.article-more {
  position: relative; }
  .article-more__content {
    position: relative; }
  .article-more__action {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 50px;
    bottom: 0;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .article-more__action:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      pointer-events: none;
      height: 100px;
      z-index: 1;
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.62)), color-stop(81%, white), color-stop(86%, white));
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.62) 50%, white 81%, white 86%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .article-more__action a.adjust {
      position: relative;
      z-index: 1;
      background-color: #fff;
      padding: 0.2rem 0;
      top: 1rem;
      display: inline-block;
      line-height: 2;
      background-color: var(--color-white);
      text-decoration: underline;
      text-underline-offset: 3px;
      display: none; }
      @media (min-width: 1199px) {
        .article-more__action a.adjust:hover {
          color: var(--color-primary); } }
