
body{background-color: theme('color.gray.100');}

$header: "header";

.#{$header} {
   
    transition: all 0.5s;
    z-index: 11;

    @media (min-width: theme("breakpoints.sm","value")) {
        & {
            position: sticky;
            top: 0;
        }
    }
}

$header-primary: "header-primary";

.#{$header-primary} {
    padding: theme("padding.4") theme("padding.4");
    color: theme("color.black");
    background: theme("color.white");
    box-shadow: 0px 3px 3px #0000000f;

    @media (min-width: theme("breakpoints.xl","value")) {
        &{padding-left:theme("padding.10");padding-right:theme("padding.10");}
    }


    @media (max-width: theme("breakpoints.sm","value")) {
        &{width: 100%; display: inline-block; padding: 0;
            &__right{float: #{theme('direction.right','value')}; margin-#{theme('direction.right','value')}: 1rem; margin-top: 0.4rem;}
        }
    }

}

$header-logo: "header-logo";

.#{$header-logo} {
    max-width: 140px;
  
    position: relative;
    display: flex;
    align-items: center; margin: 0;

    @media (min-width: theme("breakpoints.md","value")) {
        margin-#{theme('direction.right','value')}: theme("margin.3");
    }

    @media (max-width: theme("breakpoints.sm","value")) {
        &{margin: 1.5rem; margin-bottom: 0; max-width: 120px;}
    }

  
}





$account: "account";

.#{$account} {position: relative;
    &__trigger{position: relative; margin: 0; cursor: pointer;
        @media (max-width: theme("breakpoints.xl","value")) {
            &.is-active:after{position: fixed; left: 0;right: 0;top: 0;bottom: 0;content: ""; background-color: rgba(0,0,0,0.8);z-index: 1;}
        }
    }
    &__target{position: absolute; #{theme('direction.right','value')}: 0; top: 160%; background-color: theme('color.white'); min-width: 200px; z-index: 1;
    box-shadow: theme('boxShadow.bottom'); border: 1px solid theme('color.gray.200');padding:theme('padding.3') 0; opacity: 0;visibility: hidden;
        &:before{position: absolute;
            #{theme('direction.right','value')}: 0.6rem;
            top: -8px;
            content: "";
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #fff;
            pointer-events: none;
            z-index: 1;}

            @media(max-width: theme('breakpoints.xl','value')){
                &{position: fixed; #{theme('direction.left','value')}: 0;top: 0; bottom: 0; background-color: theme('color.white');width: 80%; max-width:350px; border: none; transition: all 0.4s; transform: translateX(-100%);}
            }
            &.is-visible{opacity: 1; visibility: visible; transform: translateX(0);}

    }

    @media(min-width: theme('breakpoints.xl','value')){
        &:hover{
            .#{$account} {
                &__target{opacity: 1; visibility: visible; transition: all 0.4s; top: 100%;}
            }
        }
    }
    @media (max-width: theme("breakpoints.sm","value")) {
        &{margin: 1rem; margin-bottom: 0;}
    }
  

}


$menu-vertical: "menu-vertical";

.#{$menu-vertical} {position: relative;
   & li{
       & a{display: block; padding: theme('padding.3') theme('padding.6');
            @media(min-width: theme('breakpoints.xl','value')){
                &:hover{ color: theme('color.primary');}
            }
        }
   }

}


$page-title: "page-title";

.#{$page-title} { font-size: theme('font.size.h5');position: relative; font-weight: theme('font.weight.medium');
@media(min-width: theme('breakpoints.sm','value')){
    &{
        margin-#{theme('direction.left','value')}: theme("margin.3");padding-#{theme('direction.left','value')}: theme("padding.5"); 
        &:before{position: absolute; #{theme('direction.left','value')}: 0; top: 0; bottom: 0; width: 1px; background-color: theme('color.gray.400'); content: "";}
    }
    @media(min-width: theme('breakpoints.xl','value')){
        & a{ transition: all 0.4s;
            &:hover{text-decoration: underline; text-underline-offset: 4px;}
        }
    }
    
}

    @media(max-width: theme('breakpoints.xl','value')){
        &{font-size: theme('font.size.md'); max-width: 80%;}
    }

    @media(max-width: theme('breakpoints.sm','value')){
        &{max-width: 100%; margin-top: theme('margin.5'); padding: theme('padding.4'); border-top: 1px solid theme('color.gray.300');}
    }
   

}

$page-subtitle: "page-subtitle";

.#{$page-subtitle} { font-size: theme('font.size.h5');  position: relative; font-weight: theme('font.weight.medium');

  
}



